
<app-loading *ngIf="checkState"></app-loading>
<div class="container-fluid" *ngIf="!checkState">
    <div class="row list-header d-flex p-2 d-flex
        justify-content-between">

        <div class="col-6 d-flex justify-content-start ">
            <div class="row d-flex align-items-center">
                <button type="button" class="btn btn-primary
                    back-button d-flex
                    align-items-center justify-content-center"
                    (click)="backClicked()">
                    <i class="fa-solid fa-chevron-left icon d-flex
                        justify-content-center"></i>
                </button>

                <div class="font-header w-auto">ประวัติการเข้างานทั้งหมด</div>
                <div class="col-4 px-0 mx-4 d-flex align-items-center
                    border-input">
                    <div class="container">
                        <div class="row">
                            <input type="text" placeholder="เลือกเดือนและปี"
                                class="col-9 w-75 dateIcon icon-bg"
                                style="height: 40px;"
                                #dp="bsDaterangepicker"
                                bsDaterangepicker (keypress)="false"
                                (onHidden)="sortDate()" [(ngModel)]="date"
                                [bsConfig]="{ isAnimated: true,
                                rangeInputFormat : 'DD/MM/YYYY',
                                dateInputFormat:
                                'DD/MM/YYYY', containerClass:
                                'theme-dark-blue',
                                showWeekNumbers: false,
                                clearPosition: 'right'}">

                            <div class="col-3 d-flex align-items-center
                                justify-content-center px-0"
                                (click)="dp.toggle()"
                                [attr.aria-expanded]="dp.isOpen" style="cursor:
                                pointer;">
                                <i class="fa-solid fa-calendar-days icon-color"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 ">
            <div class="ms-2 row border-input">
                <div class="col-2">
                    <img class="py-2 px-2"
                        src="assets/img/department/search-bar.png"
                        alt="" />
                </div>

                <div class="col-7 col-sm-7 col-md-7 col-lg-7
                    col-xl-7
                    col-xxl-7
                    p-0 d-flex align-items-center ms-3">
                    <input [(ngModel)]="searchInput" class="w-100"
                        id="search-bar" type="text"
                        pattern="[a-zA-Z]*" placeholder="ค้นหา" />
                </div>
            </div>
        </div>

        <div class="col-3 d-flex justify-content-center">

            <button type="button" class="col btn btn-primary btn-export-excel
                d-flex justify-content-center align-items-center"
                (click)="exportAsExcelFile()">
                <i class="fa-regular fa-file-excel" style="font-size: 26px;"></i>
                <div class="px-2">Export Excel</div>
            </button>

        </div>


    </div>

    <h1 class="row mt-5 d-flex justify-content-center"
        *ngIf="objTableHistory.length == 0" style="font-family: 'Kanit';">
        ไม่พบประวัติการเข้างานทั้งหมด
    </h1>

    <div class="row" *ngIf="objTableHistory.length != 0">
        <div class="table-responsive" style="overflow-x: scroll">
            <table
                class="table table-striped align-middle text-center mt-3
                list-table"
                id="tableemp"
                [id]="tableemp"
                style="min-width: 1140px">
                <thead>
                    <tr>
                        <th class="text-center cut-text" style="width: 10%
                            !important">ลำดับ</th>
                        <th class="text-center cut-text" style="width: 10%
                            !important">รหัสพนักงาน</th>
                        <th class="text-center cut-text" style="width: 20%
                            !important">รายชื่อ</th>
                        <th class="text-center cut-text" style="width: 10%
                            !important">วันที่ทำงาน</th>
                        <th class="text-center cut-text" style="width: 20%
                            !important">จำนวนชั่วโมงที่ทำงาน</th>
                        <th class="cut-text" style="width: 30% !important">หมายเหตุ</th>
                    </tr>
                </thead>

                <tbody class="list-content">
                    <tr id="row-list" *ngFor="let objleave of objTableHistory | filter : searchInput | paginate : config; let number = index">
                        <td>
                            {{number+1}}
                        </td>
                        <td class="text-center">
                            {{objleave.user_card_number}}
                        </td>
                        <td class="text-start">
                            {{objleave.ud_fullname_th}}
                        </td>
                        <td>
                            {{objleave.ta_date}}
                        </td>
                        <td>
                            {{objleave.ta_amount}}
                        </td>
                        <!-- routerLink="../view-request-detail/{{objleave.rvac_id}}" -->
                        <td>
                            {{objleave.ta_detail}}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row mt-5">

            <div class="col d-flex flex-row">
                <div class="list-perPage d-flex align-items-center
                    listperpage-font">รายการต่อหน้า</div>
                <div class="my-auto ms-1 select-perPage">
                    <ng-select style="width: 60px" [(ngModel)]="listPerPage"
                        [clearable]="false"
                        class="custom maxWidth add-boss"
                        (change)="UpdateListPerpage()" required>
                        <ng-option [value]="10">10</ng-option>
                        <ng-option [value]="15">15</ng-option>
                        <ng-option [value]="20">20</ng-option>
                        <ng-option [value]="25">25</ng-option>
                        <ng-option [value]="50">50</ng-option>
                        <ng-option [value]="100">100</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="col d-flex justify-content-end">
                <pagination-template #p="paginationApi" id="{{ config.id }}"
                    (pageChange)="config.currentPage= $event">
                    <div class="custom-pagination d-flex flex-row
                        justify-content-end">
                        <button [disabled]="p.isFirstPage()" style="width:
                            38px" class="buttonPage text-end d-flex
                            align-items-center
                            justify-content-center nextPage me-3"
                            [class.disabled]="p.isFirstPage()"
                            (click)="p.previous()">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        <div *ngFor="let page of p.pages"
                            [class.current]="p.getCurrent() === page.value">
                            <div id="PageButton" class="buttonPage text-end
                                d-flex
                                align-items-center justify-content-center
                                nextPage me-1"
                                (click)="p.setCurrent(page.value)"
                                *ngIf="p.getCurrent() !== page.value">
                                <span>{{ page.label }}</span>
                            </div>
                            <div class="on-page text-end d-flex
                                align-items-center justify-content-center
                                onPage
                                me-1" *ngIf="p.getCurrent() === page.value">
                                <span>{{ page.label }}</span>
                            </div>
                        </div>

                        <button style="width: 38px" class="buttonPage
                            text-end d-flex align-items-center
                            justify-content-center nextPage ms-3 me-3"
                            [disabled]="p.isLastPage()" (click)="p.next()">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </div>
                </pagination-template>

            </div>
        </div>

    </div>
</div>
