<app-loading-employee *ngIf="!APIsuccess" class="d-flex justify-content-center h-100 align-items-center">
</app-loading-employee>
<form *ngIf="APIsuccess" [formGroup]="emp" (ngSubmit)="Submit()">
  <div class="row">
    <div class="col ">
      <div class="font-header mb-4">ข้อมูลส่วนตัว</div>
      <div class="row mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
          คำนำหน้า :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail ">
          <ng-select [searchable]="false" placeholder="เลือกคำนำหน้าชื่อ" [clearable]="false"
            [ngClass]="{customnull : emp.controls.ud_prefix_id.errors && submitted}"
            class="custom d-flex justify-content-center" formControlName="ud_prefix_id">
            <ng-option [value]="1">นาย</ng-option>
            <ng-option [value]="2">นาง</ng-option>
            <ng-option [value]="3">นางสาว</ng-option>
          </ng-select>
        </div>

        <!-- alert คำนำหน้า -->
        <div class="row">
          <div class="col-5"></div>
          <div class="col-7 d-flex justify-content-end">
            <div *ngIf="false" class="alerttext">
              กรุณาเลือกคำนำหน้าชื่อ
            </div>
          </div>
        </div>
        <!-- alert คำนำหน้า end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
          ชื่อ นามสกุล :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail ">
          <input formControlName="ud_fullname_th" textarea class="form-control" id="exampleFormControlTextarea1"
            [ngClass]="{isinvalid : emp.controls.ud_fullname_th.errors && submitted}" rows="3"
            placeholder="กรอกชื่อ-นามสกุลภาษาไทย">
        </div>

        <!-- alert ชื่อ นามสกุล-->
        <div class="row" *ngIf="emp.controls.ud_fullname_th.errors && submitted">
          <div class="col-5"></div>
          <div class="col-7 d-flex justify-content-end">
            <div *ngIf="true" class="alerttext">
              กรุณากรอกชื่อ-นามสกุลภาษาไทย
            </div>
          </div>
        </div>
        <!-- alert ชื่อ นามสกุล end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5  font-title">
          Name and Last name :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <input formControlName="ud_fullname_en" textarea class="form-control" id="exampleFormControlTextarea1"
            [ngClass]="{isinvalid : emp.controls.ud_fullname_en.errors && submitted}" rows="3"
            placeholder="กรอกชื่อ-นามสกุลภาษาอังกฤษ">
        </div>

        <!-- alert Name and Last name -->
        <div class="row" *ngIf="emp.controls.ud_fullname_en.errors && submitted">
          <div class=" col-3"></div>
          <div class="col-9 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกชื่อ-นามสกุลภาษาอังกฤษ
            </div>
          </div>
        </div>
        <!-- alert Name and Last name end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
          ชื่อเล่น :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail ">
          <input formControlName="ud_nickname" textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            [ngClass]="{isinvalid : emp.controls.ud_nickname.errors && submitted}" placeholder="กรอกชื่อเล่น">
        </div>

        <!-- alert ชื่อเล่น -->
        <div class="row" *ngIf="emp.controls.ud_nickname.errors && submitted">
          <div class="col-5"></div>
          <div class="col-7 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกชื่อเล่น
            </div>
          </div>
        </div>
        <!-- alert ชื่อเล่น end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
          วันเดือนปีเกิด :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <input formControlName="ud_birthday" type="text" placeholder="เลือกวันเดือนปีเกิด" class="form-control " bsDatepicker
            [ngClass]="{isinvalid : emp.controls.ud_birthday.errors && submitted}"
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue',showWeekNumbers: false}"
            [maxDate]="today" (keypress)="false" (ngModelChange)="onValueChangeDateBTH($event)">
        </div>

        <!-- alert วันเดือนปีเกิด -->
        <div class="row" *ngIf="emp.controls.ud_birthday.errors && submitted">
          <div class="col-5"></div>
          <div class="col-7 d-flex justify-content-end">
            <div class="alerttext">
              กรุณาเลือกวันเดือนปีเกิด
            </div>
          </div>
        </div>
        <!-- alert วันเดือนปีเกิด end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
          รหัสบัตรประชาชน :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <input formControlName="ud_id_card" textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            [ngClass]="{isinvalid : (emp.controls.ud_id_card.errors && submitted) || IDcarderr } " placeholder="กรอกรหัสบัตรประชาชน"
            maxlength="13" minlength="13" (keypress)="numberOnly($event)">
        </div>

        <!-- alert รหัสบัตรประชาชน -->
        <div class="row" *ngIf="(emp.controls.ud_id_card.errors && submitted)">
          <div class="col-5"></div>
          <div class="col-7 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกรหัสบัตรประชาชน
            </div>
          </div>
        </div>
        <!-- alert รหัสบัตรประชาชน end -->

             <!-- alert รหัสบัตรประชาชน -->
             <div class="row" *ngIf="IDcarderr">
              <div class="col-5"></div>
              <div class="col-7 d-flex justify-content-end">
                <div class="alerttext">
                  รหัสบัตรประชาชนไม่ถูกต้อง
                </div>
              </div>
            </div>
            <!-- alert รหัสบัตรประชาชน end -->
    

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
          เบอร์โทรศัพท์ :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <input formControlName="ud_phone" textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            [ngClass]="{isinvalid : emp.controls.ud_phone.errors && submitted}" placeholder="กรอกเบอร์โทรศัพท์" maxlength="10"
            minlength="10" (keypress)="numberOnly($event)">
        </div>

        <!-- alert เบอร์โทรศัพท์ -->
        <div class="row" *ngIf="emp.controls.ud_phone.errors && submitted">
          <div class="col-5"></div>
          <div class="col-7 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกเบอร์โทรศัพท์
            </div>
          </div>
        </div>
        <!-- alert เบอร์โทรศัพท์ end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
          อีเมล :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <input formControlName="ud_email" textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            [ngClass]="{isinvalid : emp.controls.ud_email.errors && submitted}" placeholder="กรอกอีเมล"
            email="true">
        </div>

        <!-- alert อีเมล -->
        <div class="row" *ngIf="emp.controls.ud_email.errors && submitted">
          <div class="col-5"></div>
          <div class="col-7 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกอีเมล
            </div>
          </div>
        </div>
        <!-- alert อีเมล end -->

      </div>
    </div>
    <div class="col">
      <div class="font-header mb-4">ข้อมูลในบริษัท</div>
      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
          ชื่อบริษัท :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <input formControlName="user_company" textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            [ngClass]="{isinvalid : emp.controls.user_company.errors && submitted}" placeholder="กรอกบริษัท">
        </div>

        <!-- alert ชื่อบริษัท -->
        <div class="row" *ngIf="emp.controls.user_company.errors && submitted">
          <div class="col-5"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกบริษัท
            </div>
          </div>
        </div>
        <!-- alert ชื่อบริษัท end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
          แผนก :
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 font-detail">
          <ng-select formControlName="dept_name_en" [searchable]="false" placeholder="เลือกแผนก" [clearable]="false"
            [ngClass]="{customnull : emp.controls.dept_name_en.errors && submitted}"
            class="custom d-flex justify-content-center" (change)="ChangeDepartment($event)">
            <ng-option *ngFor="let department of ObjDepartment" [value]="department.dept_id">{{department.dept_name_en}}</ng-option>
          </ng-select>
        </div>
        <!-- alert แผนก -->
        <div class="row" *ngIf="emp.controls.dept_name_en.errors&& submitted">
          <div class="col-5"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณาเลือกแผนก
            </div>
          </div>
        </div>
        <!-- alert แผนก end -->

      </div>

      <div class="row mb-2">
        <div class="col-4 font-title" style="align-items:baseline !important; padding-top: 7px;">
          ตำแหน่ง :
        </div>
        <div class="col-7">
          <div class="row" *ngFor="let posit of PositionCount; let i = index">
            <div class="col-10 font-detail">
              <ng-select [(ngModel)]="Position[i].positions" [searchable]="false" placeholder="เลือกตำแหน่ง"
                [clearable]="false" [ngModelOptions]="{standalone: true}" class="custom d-flex justify-content-center"
                style="margin-bottom: 24px;" [ngClass]="{'lastItemSelect' : i+1 == Position.length}"
                [ngClass]="{customnull : (Position[i].positions == null) && submitted}" (change)="Userselected()" (click)="settingIndex(i)">
                <ng-option *ngFor="let posit of positionDept" [value]="posit.position">{{posit.position}} </ng-option>
              </ng-select>
            </div>

            <div *ngIf="Position.length > 1" class="col-2 py-2" (click)="deleteDeptPosit(i)">
              <i class="fa-solid fa-circle-xmark delete-dept iconDept" style="cursor: pointer;"></i>
            </div>
            <!-- alert ตำแหน่ง -->
            <div class="row" style="margin-top: -20px;">
              <div class="col d-flex justify-content-end">
                <div *ngIf="(Position[i].positions == null) && submitted" class="alerttext">
                  กรุณาเลือกตำแหน่ง
                </div>
              </div>
            </div>
            <!-- alert ตำแหน่ง end -->
          </div>
        </div>





      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <div class="ms-0 text-button" (click)="addInputDeptPosit()">
            <i class="fa-solid fa-circle-plus" style="margin-right: 5px;"></i>เพิ่มตำแหน่ง
          </div>
        </div>
      </div>


      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
          ประเภทพนักงาน :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <ng-select formControlName="user_contract_name" [searchable]="false" placeholder="เลือกประเภทพนักงาน"
            [ngClass]="{customnull : emp.controls.user_contract_name.errors&& submitted}" [clearable]="false"
            class="custom d-flex justify-content-center">
            <ng-option value="1">พนักงานประจำ</ng-option>
            <ng-option value="2">สัญญาจ้าง</ng-option>
          </ng-select>
        </div>

        <!-- alert ประเภทพนักงาน -->
        <div class="row" *ngIf="emp.controls.user_contract_name.errors&& submitted">
          <div class="col-5"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณาเลือกประเภทพนักงาน
            </div>
          </div>
        </div>
        <!-- alert ประเภทพนักงาน end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
          รหัสพนักงาน :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
            {{Objdata.user_card_number}}
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
          วันที่เริ่มงาน :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <input formControlName="user_created_at" type="text" placeholder="เลือกวันที่เริ่มงาน" class="form-control "
            [ngClass]="{isinvalid : emp.controls.user_created_at.errors && submitted}" bsDatepicker
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue',showWeekNumbers: false}"
            (keypress)="false" (ngModelChange)="onValueChangeDateStart($event)">
        </div>

        <!-- alert วันที่เริ่มงาน -->
        <div class="row" *ngIf="emp.controls.user_created_at.errors && submitted">
          <div class="col-5"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณาเลือกวันที่เริ่มงาน
            </div>
          </div>
        </div>
        <!-- alert วันที่เริ่มงาน end -->

      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
          อายุงาน :
        </div>
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
          {{Objdata.user_exprience}}
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title" style="padding: 0px 0px 0px 12px;">
          วันที่ทำงานวันสุดท้าย :
        </div>
        <div class="col-12 col-sm-6 col-md-6col-lg-6 font-detail">
          <input [formControl]="user_deleted_at" type="text" placeholder="วันที่ทำงานวันสุดท้าย" class="form-control " bsDatepicker
            [ngClass]="{isinvalid : emp.controls.ud_birthday.errors && submitted}"
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue',showWeekNumbers: false}" (keypress)="false">
        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 font-title">
          <div class="col-1">
            <i class="fa-solid fa-circle-info icon-info" id="demo" type="button" data-bs-toggle="dropdown"
              aria-expanded="false"></i>
            <ul class="dropdown-menu py-0">
              <div class="p-1 ">
                <div class="d-inline d-flex justify-content-between px-3 py-1">
                  <div class="row">
                    <div class="col">ข้อเเนะนำ</div>
                    <hr class="line">
                    <div class="col">
                      <p>
                        ควรเป็นวันสุดท้ายตามที่แจ้งลาออกเอาไปบวกด้วย 1 วัน
                        สถานะนี้มีผลให้พนักงานไม่ถูกแสดงรายชื่อในการจ่ายเงินเดือน
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="font-header mb-4">สิทธิ</div>
      <div class="row mb-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
          วันลาคงเหลือ :
        </div>
      </div>
      <div class="row mb-4 font-detail detail">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
          ลากิจ
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
          <input formControlName="user_leave_day" textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_leave_day.errors&& submitted}" id="exampleFormControlTextarea1"
            rows="3" placeholder="6"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>

        <!-- alert ลากิจ -->
        <div class="row" *ngIf="emp.controls.user_leave_day.errors&& submitted">
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลากิจ end -->

      </div>
      <div class="row mb-4 font-detail detail">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาป่วย
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <input formControlName="user_sick_day" textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_sick_day.errors&& submitted}" id="exampleFormControlTextarea1"
            rows="3" placeholder="30"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>

        <!-- alert ลาป่วย -->
        <div class="row" *ngIf="emp.controls.user_sick_day.errors&& submitted">
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลาป่วย end -->

      </div>
      <div class="row mb-4 font-detail detail">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาพักร้อน
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <input formControlName="user_take_annual_day" textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_take_annual_day.errors&& submitted}"
            id="exampleFormControlTextarea1" rows="3" placeholder="12"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>

        <!-- alert ลาพักร้อน -->
        <div class="row" *ngIf="emp.controls.user_take_annual_day.errors&& submitted">
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลาพักร้อน end -->

      </div>
      <div class="row mb-4 font-detail detail" *ngIf="emp.controls.ud_prefix_id.value == 1">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาบวช
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <input formControlName="user_ordination_day"textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_ordination_day.errors&& submitted}"
            id="exampleFormControlTextarea1" rows="3" placeholder="7"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
          วัน
        </div>

        <!-- alert ลาบวช -->
        <div class="row" *ngIf="emp.controls.user_ordination_day.errors&& submitted">
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลาบวช end -->

      </div>
      <div class="row mb-4 font-detail detail" *ngIf="emp.controls.ud_prefix_id.value == 1">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาเพื่อรับราชการทหาร
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <input formControlName="user_military_service_day" textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_military_service_day.errors&& submitted}"
            id="exampleFormControlTextarea1" rows="3" placeholder="30"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>

        <!-- alert ลาเพื่อรับราชการทหาร -->
        <div class="row" *ngIf="emp.controls.user_military_service_day.errors&& submitted" >
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลาเพื่อรับราชการทหาร end -->

      </div>
      <div class="row mb-4 font-detail detail" *ngIf="emp.controls.ud_prefix_id.value != 1">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาคลอด
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <input formControlName="user_maternity_day" textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_maternity_day.errors&& submitted}"
            id="exampleFormControlTextarea1" rows="3" placeholder="-"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>

        <!-- alert ลาคลอด -->
        <div class="row" *ngIf="emp.controls.user_maternity_day.errors&& submitted">
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลาคลอด end -->

      </div>
      <div class="row mb-4 font-detail detail">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาเพื่อทำหมัน
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <input formControlName="user_sterilization_day" textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_sterilization_day.errors&& submitted}"
            id="exampleFormControlTextarea1" rows="3" placeholder="-"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>

        <!-- alert ลาเพื่อทำหมัน -->
        <div class="row" *ngIf="emp.controls.user_sterilization_day.errors&& submitted">
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลาเพื่อทำหมัน end -->

      </div>
      <div class="row mb-4 font-detail detail">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาโดยไม่รับเงิน
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <input formControlName="user_without_pay_day" textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_without_pay_day.errors&& submitted}"
            id="exampleFormControlTextarea1" rows="3" placeholder="-"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>

        <!-- alert ลาโดยไม่รับเงิน -->
        <div class="row" *ngIf="emp.controls.user_without_pay_day.errors&& submitted">
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลาโดยไม่รับเงิน end -->

      </div>
      <div class="row mb-4 font-detail detail">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาใช้สิทธิทดแทน
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <input formControlName="user_resign_day" textarea class="form-control form-input"
            [ngClass]="{isinvalid : emp.controls.user_resign_day.errors&& submitted}" id="exampleFormControlTextarea1"
            rows="3" placeholder="-"  type="number" min="0"  (keypress)="minusDetect($event)">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>

        <!-- alert ลาใช้สิทธิทดแทน -->
        <div class="row" *ngIf="emp.controls.user_resign_day.errors&& submitted">
          <div class="col-3"></div>
          <div class="col-6 d-flex justify-content-end">
            <div class="alerttext">
              กรุณากรอกจำนวน
            </div>
          </div>
        </div>
        <!-- alert ลาใช้สิทธิทดแทน end -->

      </div>
    </div>
    <div class="row mb-4 mt-5 d-flex justify-content-center">
      <div class="col-6 col-sm-3 col-md-3 col-lg-3"><button class="cancel-button d-flex justify-content-center w-100"
          type="" routerLink="../">
          <div class="cancel-text">ยกเลิก</div>
        </button>
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-3"><button class="submit-button d-flex justify-content-center w-100"
          type="submit">
          <div class="submit-text">บันทึก</div>
        </button>
      </div>
    </div>
  </div>
</form>