<div class="row">
  <div class="col-12">
    <div class="font-content">
    ประวัติการเข้างานทั้งหมด
    </div>
    <div class="table-responsive">
      <table class="table-responsive table table-striped mt-3">

          <!--table header-->
          <thead class="ps-5 list-table">
              <tr align="center">
                <th scope="col">ลำดับ</th>
                  <th scope="col">วันที่ทำงาน</th>
                  <th scope="col">เวลาเข้าทำงาน(24ชม.)</th>
                  <th scope="col">เวลาออกงาน(24ชม.)</th>
                  <th scope="col">จำนวนชั่วโมงที่ทำงาน</th>
                  <th scope="col">หมายเหตุ</th>
              </tr>
          </thead>
          <!---->

          <tbody class="list-content">
              <tr align="center">
                  <td class="space-table">1</td>
                  <td class="space-table">20/07/2564</td>
                  <td class="space-table">10 : 00 : 00 นาที</td>
                  <td class="space-table">-</td>
                  <td class="space-table">8 ชั่วโมง 00 นาที</td>
                  <td class="space-table">ลืมกดปุ่มเข้า-ออกงาน</td>
              </tr>
              
              <tr align="center">
                <td class="space-table">2</td>
                <td class="space-table">20/07/2564</td>
                <td class="space-table">10 : 11 : 13 นาที</td>
                <td class="space-table">16 : 00 : 00 นาที</td>
                <td class="space-table">5 ชั่วโมง 49 นาที</td>
                <td class="space-table">-</td>
            </tr>

            <tr align="center">
              <td class="space-table">3</td>
              <td class="space-table">20/07/2564</td>
              <td class="space-table">08 : 00 : 00 นาที</td>
              <td class="space-table">16 : 00 : 00 นาที</td>
              <td class="space-table">8 ชั่วโมง 00 นาที</td>
              <td class="space-table">-</td>
          </tr>
          </tbody>
      </table>
  </div>
  </div>
</div>
