<div class="font-header mb-4">
  การแจ้งเตือน
</div>

<div class="row headline d-flex justify-content-start">
  <div class="col text-center noti-type" routerLink="../notification">ทั้งหมด</div>
  <div class="col text-center noti-type" routerLink="work-notification">อนุมัติทำงาน</div>
  <div class="col text-center noti-type active-box" routerLink="leave-notification">อนุมัติลา</div>
  <div class="col text-center noti-type" routerLink="ot-notification">อนุมัติโอที</div>
</div>

<div class="row d-flex justify-content-end mt-2 mb-2">
  <div class="col-2 clean-history d-flex justify-content-center">ล้างประวัติการแจ้งเตือน</div>
</div>

<router-outlet></router-outlet>