<p>
  noti-list works!
</p>
<!-- { path: 'all-notification', component: NotiListComponent },
{ path: 'work-notification', component: WorkNotiComponent },
{ path: 'leave-notification', component: LeaveNotiComponent },
{ path: 'ot-notification', component: OtNotiComponent } -->
<button class="btn btn-primary" routerLink="../notification">ทั้งหมด</button>
<button class="btn btn-primary" routerLink="work-notification">อนุมัติทำงาน</button>
<button class="btn btn-primary" routerLink="leave-notification">อนุมัติลา</button>
<button class="btn btn-primary" routerLink="ot-notification">อนุมัติโอที</button>
<router-outlet></router-outlet>