.font-header {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  text-align: center;
  color: #000000;
}

#font-content {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.submit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  background: linear-gradient(270.74deg, #2E3579 0.35%, #005FBC 99.1%, #005FBC 99.1%);
  border-radius: 8px;
  border: 1px solid #005FBC;
}

.submit-text {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;

}

.cancel-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  background: #FFFFFF;
  border: 1px solid #005FBC;
  border-radius: 8px;
}

.cancel-text {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #005FBC;
}

.ng-select.custom::ng-deep.ng-select-container {
  min-height: 0px;
  border-radius: 0.375rem;
  height: 38px;
  border-color: #ced4da;
  font-family: 'Kanit';
  font-size: 16px;
}

input::placeholder {
  opacity: .5;
  color: #212529;
  font-family: 'Kanit';
  font-style: bold;
  font-weight: 400;
  font-size: 16px;

}

textarea::placeholder {
  opacity: .5;
  color: #212529;
  font-family: 'Kanit';
  font-style: bold;
  font-weight: 400;
  font-size: 16px;

}

textarea {
  font-family: 'Kanit';
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
}

input {
  font-family: 'Kanit';
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
}

.alerttext {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: red;
}

.space-data {
  margin-left: 140px;
  margin-top: 5px;
}

.ng-select.customnull::ng-deep.ng-select-container {
  border-color: #ff0000 !important;
}

.isinvalid {
  border: 1px solid #EF0303 !important;
}

.time-box {
  width: 400px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #005FBC;
  border-radius: 10px;
  position: absolute;
  margin-top: 0px;
  left: 950px;
  z-index: 1;
}

.time-outframe {
  height: 0px !important;
}

.time-text {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.font-time-picker-head {

  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #005FBC;
}

.font-time-picker {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}

.icon-picker:hover {
  background-color: darkgrey !important;
  border: 0px solid;
  border-radius: 25px;
  cursor: pointer;
}

.alert-time-picker {
  border-color: red !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.back-button {
  width: 32px;
  height: 32px;
  background: linear-gradient(90deg, #E69755 0.1%, #FF5444 100.01%);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.back-icon {
    font-size: 28px;
    color: white;
    margin-top: 1px;
  }

  .isinvalid {
    border: 1px solid #EF0303 !important;
  }