  <app-loading-department *ngIf="checkLoadAPI == false" class="d-flex justify-content-center h-100 align-items-center">
  </app-loading-department>


  <div *ngIf="checkLoadAPI">

    <div>
      <div class="row d-flex justify-content-between">
        <div class="col-3">
          <div class="list-header">รายชื่อแผนก</div>
        </div>

        <div class="col-6 d-flex align-items-center justify-content-between">

          <div class="col-7 h-100">
            <div class="row h-100 w-100 ms-5 search-bar">
              <div class="col-2 py-1">
                <img class="py-2 px-2" src="assets/img/department/search-bar.png" alt="" />
              </div>
              <div class="col-10 p-0">
                <input class="h-100 w-100" id="search-bar" (keypress)="numberOnly($event)" [(ngModel)]="searchInput"
                  type="text" pattern="[a-zA-Z]*" placeholder="ค้นหา" (keydown)="test()" />
              </div>
            </div>
          </div>
          <div class="col-4 h-100 d-flex justify-content-center" routerLink="add-department">
            <button type="button" class="btn btn-primary w-75 btn-add-department">
              เพิ่มแผนก
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table-responsive table table-striped text-center mt-3 list-table" id="tableDept">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th class="text-start ps-5">รายชื่อแผนก</th>
            <th>จำนวนคน</th>
            <th>การดำเนินการ</th>
          </tr>
        </thead>

        <tbody class="list-content">

          <tr id="rowContent" *ngFor="
          let datas of deptTable
            | searchFilter: searchInput
            | paginate: { itemsPerPage: listPerPage, currentPage: onPage }">

            <td>{{datas.number}}</td>
            <td id="nameDepartment" class="text-start ps-5">{{ datas.dept_name_en }}</td>
            <td>{{ datas.member }} </td>
            <td>
              <div class="row d-flex justify-content-center">
                <div class="col-1 px-0 mx-1">
                  <div class="activity-table icon-fix" data-bs-toggle="modal" href="#exampleModalToggle_de"
                    role="button" (click)="DetailDept(datas.dept_id)">

                    <img class="mx-auto pb-1" src="assets/img/department/magnifying-glass-plus-solid.svg" alt=""
                      style="width: 18px; height: 100%px" />
                  </div>
                </div>
                <div class="col-1 px-0 mx-1">
                  <div class="activity-table icon-fix">
                    <img class="mx-auto pb-1" src="assets/img/department/user-solid-3.svg" alt=""
                      style="width: 18px; height: 100%px" />
                  </div>
                </div>
                <div class="col-1 px-0 mx-1">
                  <div class="activity-table icon-fix" routerLink="edit-department/{{datas.dept_id}}">
                    <img class="mx-auto pb-1" src="assets/img/department/pencil-solid-1.svg" alt=""
                      style="width: 18px; height: 100%px" />
                  </div>
                </div>

                <div class="col-1 px-0 mx-1">
                  <div class="activity-table icon-fix" (click)="SetDeptID(datas.dept_id)">
                    <!-- <img class="mx-auto pb-1 notDelelte" src="assets/img/department/trash-solid-1.svg" alt=""
                    style="width: 18px; height: 100%px" /> -->
                    <i [ngClass]="{notDelelte : checkDel(datas.dept_id)}"
                      class="fa-solid fa-trash mx-auto pb-1 deleteDepartment" style="width: 18px; height: 100%px"></i>
                  </div>
                </div>

              </div>

              <!-- <div *ngIf="ModalCheck" class="modal123">
                <div class="modal-size">
                  <div class="row d-flex justify-content-center mt-4" id="confirm">
                    <div class="font-modal">คุณต้องลบแผนกหรือไม่ ?</div>
                  </div>

                  <div class="d-flex justify-content-center">
                    <img class="my-5 d-flex justify-content-center" alt="Alternative text" width="96px" height="96px"
                      src="assets/img/users-solid.svg" />
                  </div>

                  <div class="row d-flex justify-content-center mb-3">
                    <div class="col-5 col-sm-5 col-md-5 col-lg-5">
                      <button (click)="cancelModal()"
                        class="cancel-button cancel-font d-flex justify-content-center w-100" data-bs-dismiss="modal"
                        aria-label="Close">
                        <div class="cancel-text">ยกเลิก</div>
                      </button>
                    </div>
                    <div class="col-5 col-sm-5 col-md-5 col-lg-5">
                      <button class="submit-button submit-font d-flex justify-content-center w-100"
                        data-bs-target="#submit" data-bs-toggle="modal" (click)="Delete_Department()">
                        <div class="submit-text">ตกลง</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div> -->

              
          </tr>

        </tbody>

      </table>
    </div>

    <div class="mt-5">
      <div class="row d-flex justify-content-between">
        <div class="col-5">
          <div class="row">
            <div class="col-3 px-0 text-end d-flex align-items-center justify-content-end">
              <div class="list-perPage">รายการต่อหน้า</div>
            </div>
            <div class="col-2 ms-2 p-0 select-perPage">
              <!-- <select id="listPerPage" class=""  (change)="listPerpage()">
            <option value="3">3</option>
            <option selected value="5">5</option>
            <option value="10">10</option>
          </select> -->
              <select id="listPerPage" class="form-select" aria-label="Default select example" (change)="listPerpage()">
                <option value="3">3</option>
                <option selected value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>



        <!--         
        <pagination-controls id="some_id" 
          previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls> -->
        <div class=".ngx-pagination disabled"></div>
        <div class="col-4 d-flex align-items-center justify-content-end previuspage">


            <pagination-controls (pageChange)="onPage = $event"></pagination-controls>
<!-- 
          <button id="PageButton" type="button" class="buttonPage previous" (click)="DecreasePage()">
            < </button> <div class="on-page text-end d-flex align-items-center justify-content-center onPage">
              {{ onPage }}
        </div>

        <div *ngIf="!(onPage == maxPage)" id="PageButton"
          class="buttonPage text-end d-flex align-items-center justify-content-center nextPage"
          (click)="increasePage()">
          {{ onPageNext }}
        </div>

        <button id="PageButton" type="button" class="buttonPage nextPage" (click)="increasePage()">
          >
        </button> -->

      </div>
    </div>
  </div>

  <!-- modal detail -->
  <div class="container">
    <div class="modal" id="exampleModalToggle_de" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
              <h5 class="modal-ti">{{dept_name}}</h5>
              <button type="button" class="btn-close" id="button_close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div id="modal_detail">

              <div class="row mb-3">
                <div class="col-5 d-flex justify-content-left">ชื่อแผนก (TH) :</div>
                <div class="col-7">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-left">
                      <div> {{dept_name}} </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-5 d-flex justify-content-left">วันที่สร้าง :</div>
                <div class="col-7">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-left">
                      <div> {{dept_creat}} </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-5 d-flex justify-content-left">ตำแหน่ง :</div>
                <div class="col-7">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-left modal-padding" *ngFor="let dataPos of dept_post;">
                      <div> {{dataPos.dp_name_en }} </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-5 d-flex justify-content-left">หัวหน้าแผนก :</div>
                <div class="col-7">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-left modal-padding" *ngFor="let dataMana of dept_manager">
                      <div> {{dataMana.ud_prefix}} {{dataMana.ud_fullname_th}} </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal deleted -->
