<h1>
  department works!
</h1>
<button class="btn-primary" routerLink="add-department"> go to add</button>
<button class="btn-primary" routerLink="edit-department"> go to edit</button>
<button class="btn-primary" > go to edit</button>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Example label</label>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Another label</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>