.position-outframe {
  position: relative;
  bottom: 83px;
  z-index: 1;
  height: 0px !important;
}

.button-height {
  height: 35px !important;
}

.inactive-button {
  width: 238px;
  height: 48px;
  background: #D0E8FF;
  border-radius: 10px 10px 0px 0px;
  border: none;
}

.active {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF !important;

  width: 238px;
  height: 48px;
  background: linear-gradient(270.74deg, #2E3579 0.35%, #005FBC 99.1%, #005FBC 99.1%);
  border-radius: 10px 10px 0px 0px;
  border: none;
}

.inactive-text {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #005FBC;
}