<div class="container justify-content-center">
    <div class="row">
        <div class="col-12 justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col-12 justify-content-center">
                    <p class="font-header">แบบฟอร์มการลา</p>
                </div>
                <div class="col-12 justify-content-center">
                    <br />
                    <div class="row font-content p-2 justify-content-center">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-12 d-inline-flex p-2" id="font-content">
                            ประเภทการลา*
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="row ">
                                <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                                    <ng-select [searchable]="false" placeholder="เลือกตัวเลือก" [clearable]="false"
                                        class="custom">
                                        <ng-option>1</ng-option>
                                        <ng-option>2</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 justify-content-center">
                    <br />
                    <div class="row font-content mb-2 justify-content-center">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-12 d-inline-flex mb-2 p-2" id="font-content">
                            วัน/เดือน/ปี ที่ต้องการลา*
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="row ">
                                <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                                    <div class="row">
                                        <div class="col-5">
                                            <input type="text" placeholder="Datepicker" class="form-control "
                                                bsDatepicker [bsConfig]="{ isAnimated: true }">
                                        </div>
                                        <div class="col-1">_</div>
                                        <div class="col-5">
                                            <input type="text" placeholder="Datepicker" class="form-control"
                                                bsDatepicker [bsConfig]="{ isAnimated: true }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row font-content p-2 justify-content-center">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12 d-inline-flex p-2" id="font-content">
                        ช่วงเวลาในการลา*
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="row OriginalDiv">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                                <ng-select [searchable]="false" placeholder="เลือกช่วงเวลาในการลา" [clearable]="false"
                                    class="custom">
                                    <ng-option>1</ng-option>
                                    <ng-option>2</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
                <div class="row font-content p-2 justify-content-center">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12 d-inline-flex p-2" id="font-content">
                        รวมวันเวลาทั้งหมด
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <div class="row OriginalDiv">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                                <div> 0 วัน 0 ชั่วโมง </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>

                <div class="row font-content p-2 justify-content-center">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12 d-inline-flex p-2" id="font-content">
                        เหตุผลการลา*
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 ">
                        <div class="row OriginalDiv">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-10 ">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="กรอกข้อมูล"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mb-4 mt-5 d-flex justify-content-center">
            <div (click)="checkCancel()" class="col-6 col-sm-3 col-md-3 col-lg-3"><button
                    class="cancel-button d-flex justify-content-center w-100" type="" href="#Modal-cancel">
                    <div class="cancel-text">ยกเลิก</div>
                </button>
            </div>
            <div (click)="checkNull()" class="col-6 col-sm-3 col-md-3 col-lg-3"><button
                    class="submit-button d-flex justify-content-center w-100" type="submit" href="#Modal-submit">
                    <div class="submit-text">ตกลง</div>
                </button>
            </div>
        </div>
    </div>