<app-loading-leave-info *ngIf="!ApiSuccess" class="d-flex justify-content-center
    h-100 align-items-center">
</app-loading-leave-info>
<div *ngIf="ApiSuccess">

    <div class="row d-flex justify-content-between">
        <div class="col-lg-5 col-xl-5 col-md-7">
            <div class="list-header">รายละเอียดสิทธิการลา</div>
        </div>


        <div class="col-lg-5 h-100 d-flex justify-content-center px-0">

            <button type="button" class="btn btn-primary w-75 btn-history d-flex
                align-items-center justify-content-center" routerLink="history">
                <i class="fa-solid fa-clock-rotate-left" style="font-size:
                    26px;"></i>
                <div class="px-2">ประวัติการลา</div>
            </button>

            <button *ngIf="role != 1" type="button" class="btn btn-primary w-75
                btn-addform d-flex align-items-center justify-content-center"
                routerLink="view-request">
                <i class="fa-regular fa-comment-dots" style="font-size: 26px;"></i>
                <div class="px-2">ดูคำขอการลา</div>
            </button>

            <button type="button" class="btn btn-primary w-75 btn-addform d-flex
                align-items-center justify-content-center" routerLink="request">
                <i class="fa-solid fa-circle-plus" style="font-size: 26px;"></i>
                <div class="px-2">สร้างฟอร์มการลา</div>
            </button>

        </div>
    </div>

    <div class="table-responsive">
        <table class="table-responsive table table-striped mt-3">

            <!--table header-->
            <thead class="ps-5 list-table">
                <tr>
                    <th scope="col" style="text-align: center">ประเภทการลา</th>
                    <th scope="col" style="text-align: center">สิทธิการลา/วัน/ปี</th>
                    <th scope="col" style="text-align: center">วัน/ชั่วโมงที่ใช้ไป</th>
                    <th scope="col" style="text-align: center">วัน/ชั่วโมงที่เหลือ</th>
                </tr>
            </thead>
            <!---->

            <tbody class="list-content">
                <!--row 1 colum ประเภทการลา-->
                <tr>
                    <td>ลากิจ</td>

                    <!--colum สิทธิการลา/วัน/ปี	-->
                    <div>
                        <td class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-2">{{objLeaveInfo.amount_leave.av_leave}}</div>
                                <div class="col-5"><i class="fa-solid
                                        fa-circle-info icon-info" id="demo"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"></i>
                                    <ul class="dropdown-menu py-0">
                                        <div class="p-1 ">
                                            <div class="d-inline d-flex
                                                justify-content-between px-3
                                                py-1">
                                                <div class="row">
                                                    <div class="col">ข้อเเนะนำ</div>
                                                    <hr class="line">
                                                    <div class="col">
                                                        <p>การลากิจใช้ในกรณีมีธุระจำเป็น
                                                            หรือติดต่อหน่วยงานราชการเท่านั้น
                                                            ไม่อนุญาตให้พนักงานลากิจในแต่ละครั้ง
                                                            ติดต่อกันเกิน 2
                                                            วันทำงาน
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </div>

                    <!--colum วัน/ชั่วโมงที่ใช้ไป-->
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_leave}}:{{objLeaveInfo.leave_used.user_leave_hours}}
                        </div>
                    </td>

                    <!--colum วัน/ชั่วโมงที่เหลือ-->
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_leave}}:{{objLeaveInfo.leave_online.user_leave_hours}}
                        </div>
                    </td>

                </tr>
                <!---->

                <!--row 2 colum ประเภทการลา-->
                <tr>
                    <td scope="row">ลาป่วย</td>

                    <!--colum สิทธิการลา/วัน/ปี	-->
                    <div>
                        <td class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-2">{{objLeaveInfo.amount_leave.av_sick}}</div>
                                <div class="col-5"><i class="fa-solid
                                        fa-circle-info icon-info" id="demo"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"></i>
                                    <ul class="dropdown-menu py-0">
                                        <div class="p-1 ">
                                            <div class="d-inline d-flex
                                                justify-content-between px-3
                                                py-1">
                                                <div class="row">
                                                    <div class="col">ข้อเเนะนำ</div>
                                                    <hr class="line">
                                                    <div class="col">
                                                        <p>
                                                            หากพนักงานลาป่วยมากกว่า
                                                            3 วัน
                                                            จะต้องมีหนังสือรับรองจากแพทย์แผนปัจจุบันชั้นหนึ่งมาแสดง
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </div>

                    <!--colum วัน/ชั่วโมงที่ใช้ไป-->
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_sick}}:{{objLeaveInfo.leave_used.user_sick_hours}}
                        </div>
                    </td>

                    <!--colum วัน/ชั่วโมงที่เหลือ-->
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_sick}}:{{objLeaveInfo.leave_online.user_sick_hours}}
                        </div>
                    </td>

                </tr>
                <!---->

                <!--row 3 colum ประเภทการลา-->
                <tr>
                    <td>ลาพักร้อน</td>
                    <div>
                        <td class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-2">{{objLeaveInfo.amount_leave.av_take_annual}}</div>
                                <div class="col-5"><i class="fa-solid
                                        fa-circle-info icon-info" id="demo"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"></i>
                                    <ul class="dropdown-menu py-0">
                                        <div class="p-1 ">
                                            <div class="d-inline d-flex
                                                justify-content-between px-3
                                                py-1">
                                                <div class="row">
                                                    <div class="col">ข้อเเนะนำ</div>
                                                    <hr class="line">
                                                    <div class="col">
                                                        <p>
                                                            การลาพักร้อนจะมีสิทธิตามอายุงาน
                                                            ดังนี้</p>
                                                        <p>อายุงาน 1 ปี จำนวน 6
                                                            วัน</p>
                                                        <p>อายุงาน 2 ปี จำนวน 8
                                                            วัน</p>
                                                        <p>อายุงาน 3 ปี จำนวน 10
                                                            วัน</p>
                                                        <p>อายุงาน 4 ปีขึ้นไป
                                                            จำนวน 12 วัน</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </div>
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_take_annual}}:{{objLeaveInfo.leave_used.user_take_annual_hours}}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_take_annual}}:{{objLeaveInfo.leave_online.user_take_annual_hours}}
                        </div>
                    </td>
                </tr>
                <!---->

                <!--row 4 colum ประเภทการลา-->
                <tr>
                    <td>ลาบวช</td>
                    <div>
                        <td class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-2">{{objLeaveInfo.amount_leave.av_ordination}}</div>
                                <div class="col-5"><i class="fa-solid
                                        fa-circle-info icon-info" id="demo"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"></i>
                                    <ul class="dropdown-menu py-0">
                                        <div class="p-1 ">
                                            <div class="d-inline d-flex
                                                justify-content-between px-3
                                                py-1">
                                                <div class="row">
                                                    <div class="col">ข้อเเนะนำ</div>
                                                    <hr class="line">
                                                    <div class="col">
                                                        <p>พนักงานมีสิทธิลาเพื่ออุปสมบทได้
                                                            7 วัน
                                                            โดยได้รับค่าจ้างตามระยะเวลาที่ลา
                                                            และสามารถลาได้ 1
                                                            ครั้งตลอดอายุการเป็นพนักงาน</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </div>

                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_ordination}}:{{objLeaveInfo.leave_used.user_ordination_hours}}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_ordination}}:{{objLeaveInfo.leave_online.user_ordination_hours}}
                        </div>
                    </td>
                </tr>
                <!---->

                <!--row 5 colum ประเภทการลา-->
                <tr>
                    <td>ลาคลอด</td>
                    <div>
                        <td class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-2">{{objLeaveInfo.amount_leave.av_maternity}}</div>
                                <div class="col-5"><i class="fa-solid
                                        fa-circle-info icon-info" id="demo"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"></i>
                                    <ul class="dropdown-menu py-0">
                                        <div class="p-1 ">
                                            <div class="d-inline d-flex
                                                justify-content-between px-3
                                                py-1">
                                                <div class="row">
                                                    <div class="col">ข้อเเนะนำ</div>
                                                    <hr class="line">
                                                    <div class="col">
                                                        <p>
                                                            สิทธิในการลาคลอดจะครอบคลุมถึง
                                                            การฝากครรภ์
                                                            เเละการตรวจครรภ์
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </div>

                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_maternity}}:{{objLeaveInfo.leave_used.user_maternity_hours}}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_maternity}}:{{objLeaveInfo.leave_online.user_maternity_hours}}
                        </div>
                    </td>
                </tr>
                <!---->

                <!--row 6 colum ประเภทการลา-->
                <tr>
                    <td>ลาเพื่อทำหมัน</td>
                    <div>
                        <td class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-2">{{objLeaveInfo.amount_leave.av_sterilization}}</div>
                                <div class="col-5"><i class="fa-solid
                                        fa-circle-info icon-info" id="demo"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"></i>
                                    <ul class="dropdown-menu py-0">
                                        <div class="p-1 ">
                                            <div class="d-inline d-flex
                                                justify-content-between px-3
                                                py-1">
                                                <div class="row">
                                                    <div class="col">ข้อเเนะนำ</div>
                                                    <hr class="line">
                                                    <div class="col">
                                                        <p>
                                                            หากพนักงานจะลาทำหมันจะต้องมีหนังสือรับรองจากแพทย์แผนปัจจุบันชั้นหนึ่งมาแสดง
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </div>

                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_sterilization}}:{{objLeaveInfo.leave_used.user_sterilization_hours}}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_sterilization}}:{{objLeaveInfo.leave_online.user_sterilization_hours}}
                        </div>
                    </td>
                </tr>
                <!---->


                <!--row 7 colum ประเภทการลา-->
                <tr>
                    <td>ลาเพื่อรับราชการทหาร</td>
                    <div>
                        <td class="d-flex justify-content-center">{{objLeaveInfo.amount_leave.av_military_service}}</td>
                    </div>

                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_military_service}}:{{objLeaveInfo.leave_used.user_military_service_hours}}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_military_service}}:{{objLeaveInfo.leave_online.user_military_service_hours}}
                        </div>
                    </td>
                </tr>
                <!---->

                <!--row 8 colum ประเภทการลา-->
                <tr>
                    <td>ลาโดยไม่รับเงิน (Without pay)</td>
                    <div>
                        <td class="d-flex justify-content-center">{{objLeaveInfo.amount_leave.av_without_pay}}</td>
                    </div>

                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_without_pay}}:{{objLeaveInfo.leave_used.user_without_pay_hours}}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_without_pay}}:{{objLeaveInfo.leave_online.user_without_pay_hours}}
                        </div>
                    </td>
                </tr>
                <!---->

                <!--row 9 colum ประเภทการลา-->
                <tr>
                    <td>ลาใช้สิทธิทดแทน (ออกงาน)</td>
                    <div>
                        <td class="d-flex justify-content-center">{{objLeaveInfo.amount_leave.av_resign}}</td>
                    </div>

                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_used.user_resign}}:{{objLeaveInfo.leave_used.user_resign_hours}}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            {{objLeaveInfo.leave_online.user_resign}}:{{objLeaveInfo.leave_online.user_resign_hours}}
                        </div>
                    </td>
                </tr>
                <!---->
            </tbody>
        </table>
    </div>

    <!--button edit-->
    <div class="container-fluid">
        <div class="row d-flex justify-content-end">
            <button *ngIf="role == 3" type="button" class="btn btn-primary
                btn-history" routerLink="leave-edit-dateleave">
                <div class="row">
                    <div class="col-1 space-icon"><i class="fa-solid fa-pencil
                            icon"></i></div>
                    <div class="col">แก้ไขวันลา</div>
                </div>
            </button>
        </div>
    </div>


</div>