<div class="row">
  <div class="col ">
    <div class="font-header mb-4">ข้อมูลส่วนตัว</div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        ชื่อ นามสกุล :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail ">
        นาย ประกัน ภักดี
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5  font-title">
        Name and Last name :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        Prakan Pakdee
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        ชื่อเล่น :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail ">
        กัน
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        วันเดือนปีเกิด :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        1/1/2530
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        รหัสบัตรประชาชน :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        110xxxxxxxxxx
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        เบอร์โทรศัพท์ :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        08x-xxxxxxx
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        อีเมล :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        ex______@gmail.com
      </div>
    </div>
  </div>
  <div class="col">
    <div class="font-header mb-4">ข้อมูลในบริษัท</div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        ชื่อบริษัท :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        Exvention
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        แผนก :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        Executive
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        ตำแหน่ง :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        chief executive officer
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        ประเภทพนักงาน :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        พนักงานประจำ
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        รหัสพนักงาน :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        1xxxxxx0
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        วันที่เริ่มงาน :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        1/1/25xx
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        หัวหน้างาน :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        -
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        อายุงาน :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        5 ปี 5 เดือน 1 วัน
      </div>
    </div>
  </div>
  <div class="col">
    <div class="font-header mb-4">สิทธิ</div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        วันลาคงเหลือ :
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
        ลากิจ
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
        6
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาป่วย
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        30
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาพักร้อน
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        12
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาบวช
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        7
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาเพื่อรับราชการทหาร
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        30
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาเพื่อทำหมัน
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        -
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาโดยไม่รับเงิน
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        -
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาใช้สิทธิทดแทน
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        -
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
  </div>
  
</div>