<div class="container">
<div class="row" >
  <div class="col-4 font-header">ข้อมูลส่วนตัว</div>
  <div class="col-4 font-header">ข้อมูลในบริษัท</div>
  <div class="col-4 font-header">สิทธิ</div>
  <div class="row">
    <div class="col-2">
      <br>
      <div class="font-title">ชื่อ-นามสกุล: </div>
      <div class="font-title">Name and Last name : </div>
      <div class="font-title">ชื่อเล่น : </div>
      <div class="font-title">วันเดือนปีเกิด : </div>
      <div class="font-title">รหัสบัตรประชาชน :</div>
      <div class="font-title">เบอร์โทรศัพท์ : </div>
      <div class="font-title">อีเมล :</div>
    </div>
    <div class="col-2">
      <br>
      <div class="font-detail">นาย ประกัน ภักดี</div>
      <div class="font-detail">Prakan Pakdee</div>
      <div class="font-detail">กัน</div>
      <div class="font-detail">1/1/2530</div>
      <div class="font-detail">110xxxxxxxxxx</div>
      <div class="font-detail">08x-xxxxxxx</div>
      <div class="font-detail">ex_______@gamil.com</div>
    </div>
    <div class="col-2">
      <br>
      <div class="font-title">บริษัท: </div>
      <div class="font-title">แผนก : </div>
      <div class="font-title">ตำแหน่ง :</div>
      <div class="font-title">ประเภทพนักงาน :</div>
      <div class="font-title">รหัสพนักงาน :</div>
      <div class="font-title">วันที่เริ่มงาน :</div>
      <div class="font-title">อายุงาน :</div>
    </div>
    <div class="col-2">
      <br>
      <div class="font-detail">Exvention</div>
      <div class="font-detail">Executive</div>
      <div class="font-detail">chief executive officer</div>
      <div class="font-detail">พนักงานประจำ</div>
      <div class="font-detail">1xxxxxx0</div>
      <div class="font-detail">1/1/25xx</div>
      <div class="font-detail">5 ปี 5 เดือน 1 วัน</div>
    </div>
    <div class="col-2">
      <br>
      <div class="font-title">วันลาคงเหลือ :</div>
      <div class="font-detail">ลากิจ</div>
      <div class="font-detail">ลาป่วย</div>
      <div class="font-detail">ลาพักร้อน</div>
      <div class="font-detail">ลาบวช</div>
      <div class="font-detail">ลาเพื่อรับราชการทหาร</div>
      <div class="font-detail">ลาเพื่อทำหมัน</div>
      <div class="font-detail">ลาโดยไม่รับเงิน</div>
      <div class="font-detail">ลาใช้สิทธิทดแทน</div>
    </div>
    <div class="col">
      <br><br><br>
      <div class="font-detail">6</div>
      <div class="font-detail">30</div>
      <div class="font-detail">12</div>
      <div class="font-detail">7</div>
      <div class="font-detail">60</div>
      <div class="font-detail">-</div>
      <div class="font-detail">-</div>
      <div class="font-detail">-</div>
    </div>
    <div class="col">
      <br><br><br>
      <div class="font-detail">วัน</div>
      <div class="font-detail">วัน</div>
      <div class="font-detail">วัน</div>
      <div class="font-detail">วัน</div>
      <div class="font-detail">วัน</div>
      <div class="font-detail">วัน</div>
      <div class="font-detail">วัน</div>
      <div class="font-detail">วัน</div>
    </div>

  </div>
  
  
</div>
</div>