<div class="row" *ngIf="APISuccess">
  <div class="col ">
    <div class="font-header mb-4">ข้อมูลส่วนตัว</div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        ชื่อ นามสกุล :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail ">
        {{ObjDataemp.ud_prefix_name}} {{ObjDataemp.ud_fullname_th}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5  font-title">
        Name and Last name :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        {{ObjDataemp.ud_fullname_en}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        ชื่อเล่น :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail ">
        กัน
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        วันเดือนปีเกิด :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        {{ObjDataemp.ud_birthday}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        รหัสบัตรประชาชน :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        {{ObjDataemp.ud_id_card}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        เบอร์โทรศัพท์ :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        {{ObjDataemp.ud_phone}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 font-title">
        อีเมล :
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 font-detail">
        {{ObjDataemp.ud_email}}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="font-header mb-4">ข้อมูลในบริษัท</div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        ชื่อบริษัท :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        {{ObjDataemp.user_company}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        แผนก :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        {{ObjDataemp.dept_name_en}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        ตำแหน่ง :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        {{ObjDataemp.department_map_managers}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        ประเภทพนักงาน:
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        {{ObjDataemp.user_contract_name}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        รหัสพนักงาน :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        {{ObjDataemp.user_card_number}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        วันที่เริ่มงาน :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        {{ObjDataemp.user_start_date}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        อายุงาน :
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 font-detail">
        {{ObjDataemp.user_exprience}}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="font-header mb-4">สิทธิ</div>
    <div class="row mb-4">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 font-title">
        วันลาคงเหลือ :
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
        ลากิจ
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
        {{ObjDataemp.user_leave_day}}
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาป่วย
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        {{ObjDataemp.user_sick_day}}
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาพักร้อน
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        {{ObjDataemp.user_take_annual_day}}
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาบวช
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        {{ObjDataemp.user_ordination_day}}
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาเพื่อรับราชการทหาร
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        {{ObjDataemp.user_military_service_day}}
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาเพื่อทำหมัน
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        {{ObjDataemp.user_sterilization_day}}
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาโดยไม่รับเงิน
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        {{ObjDataemp.user_without_pay_day}}
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
    <div class="row mb-4 font-detail">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          ลาคลอด
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          {{ObjDataemp.user_maternity_day}}
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          วัน
        </div>
      </div>
    <div class="row mb-4 font-detail">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        ลาใช้สิทธิทดแทน
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        {{ObjDataemp.user_resign_day}}
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        วัน
      </div>
    </div>
  </div>

</div>
