<div class="container-fluid px-0 mb-3">
  <div class="row mt-3">
    <div class="col-2 font-menu text-center divhover px-0" routerLink="detail">ข้อมูลพนักงาน
      <hr (click)="URLcheck($event)" [ngClass]="{'line-active' : detail}" class="line-inactive w-100 my-0 mx-0">
    </div>
    <!-- <div (click)="URLcheck($event)" class="col-2 font-menu text-center divhover px-0" routerLink="work-history">เข้างาน
      <hr [ngClass]="{'line-active' : workHistory}" class="line-inactive w-100 my-0 mx-0">
    </div> -->
    <div (click)="URLcheck($event)" class="col-2 font-menu text-center divhover px-0" routerLink="leave-history">ลางาน
      <hr [ngClass]="{'line-active' : leaveHistory}" class="line-inactive w-100 my-0 mx-0">
    </div>
    <!-- <div (click)="URLcheck($event)" class="col-2 font-menu text-center divhover px-0" routerLink="ot-history">โอที
      <hr [ngClass]="{'line-active' : otHistory}" class="line-inactive w-100 my-0 mx-0">
    </div> -->
    <div class="col-2 font-menu text-center divhover d-flex align-items-end px-0">
      <hr class="line-inactive w-100 my-0 mx-0">
    </div>
    <div class="col-2 font-menu text-center divhover d-flex align-items-end px-0">
      <hr class="line-inactive w-100 my-0 mx-0">
    </div>
    <div class="col-2 font-menu text-center divhover d-flex align-items-end px-0">
      <hr class="line-inactive w-100 my-0 mx-0">
    </div>
    <div class="col-2 font-menu text-center divhover d-flex align-items-end px-0">
      <hr class="line-inactive w-100 my-0 mx-0">
    </div>

  </div>
</div>
<!-- <div class="d-flex justify-content-center">
  <hr class="line w-100" >
</div> -->
