<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col font-content">
                ประวัติการลาทั้งหมด
            </div>

            <div class="col-2 ms-4 d-flex align-items-center border-input">
                <div class="container px-0">
                    <div class="row">
                        <input type="text" placeholder="เลือกเดือนและปี"
                            class="col-9 w-75 dateIcon icon-bg"
                            #dp="bsDatepicker"
                            bsDatepicker (keypress)="false"
                            (onShown)="onOpenCalendar($event)"
                            (onHidden)="sortdate()" [(ngModel)]="date"
                            (bsValueChange)="sortdate()"
                            [bsConfig]="{ isAnimated: true,
                            dateInputFormat:
                            'MM/YYYY', containerClass:
                            'theme-dark-blue',
                            showWeekNumbers: false,
                            clearPosition: 'right'}">

                        <div class="col-3 d-flex align-items-center
                            justify-content-center px-0" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" style="cursor: pointer;">
                            <i class="fa-solid fa-calendar-days icon-color"></i>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <input type="text" placeholder="เลือกเดือนปี"
                            class="col-9 w-75 dateIcon icon-bg"
                            bsDatepicker (keypress)="false"
                            (onShown)="onOpenCalendar($event)"
                            (onHidden)="sortdate()" [(ngModel)]="date"
                            [bsConfig]="{ isAnimated: true,
                            dateInputFormat:
                            'MM/YYYY', containerClass:
                            'theme-dark-blue',
                            showWeekNumbers: false}">

                        <div class="col-3 d-flex align-items-center
                            justify-content-center px-0">
                            <i class="fa-solid fa-calendar-days icon-color"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table-responsive table align-middle table-striped mt-3">

                <!--table header-->
                <thead class="ps-5 list-table">
                    <tr align="center">
                        <th scope="col">ลำดับ</th>
                        <th scope="col">ประเภทการลา</th>
                        <th scope="col">วันที่ยื่นลา</th>
                        <th scope="col">วันที่ลา</th>
                        <th scope="col">รวมวันที่ลา/ชั่วโมง</th>
                        <th scope="col">ปีที่ใช้สิทธิ์</th>
                    </tr>
                </thead>
                <!---->

                <tbody class="list-content">
                    <tr align="center" *ngFor="let item of objTable">
                        <td class="space-table">{{item.number}}</td>
                        <td class="space-table">{{item.rvac_type_name}}</td>
                        <td class="space-table">{{item.rvac_created_at}}</td>
                        <td class="space-table">{{item.rvac_date}}</td>
                        <td class="space-table">{{item.rvac_sum_duration}}</td>
                        <td class="space-table">{{item.year_of_use}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
