<div class="row">
  <div class="col-12">
    <div class="font-content">
    ประวัติการลาทั้งหมด
    </div>
    <div class="table-responsive">
      <table class="table-responsive table table-striped mt-3">

          <!--table header-->
          <thead class="ps-5 list-table">
              <tr align="center">
                <th scope="col">ลำดับ</th>
                  <th scope="col">ประเภทการลา</th>
                  <th scope="col">วันที่ยื่นลา</th>
                  <th scope="col">วันที่ลา</th>
                  <th scope="col">รวมวันที่ลา/ชั่วโมง</th>
                  <th scope="col">ปีที่ใช้สิทธิ์</th>
              </tr>
          </thead>
          <!---->

          <tbody class="list-content">
              <tr align="center">
                  <td class="space-table">1</td>
                  <td class="space-table">ลากิจ</td>
                  <td class="space-table">19/10/2564</td>
                  <td class="space-table">21/10/2564</td>
                  <td class="space-table">0 วัน 8 ชั่วโมง</td>
                  <td class="space-table">2021</td>
              </tr>
              
              <tr align="center">
                <td class="space-table">2</td>
                <td class="space-table">ลาป่วย</td>
                <td class="space-table">19/11/2564</td>
                <td class="space-table">02/11/2564 - 04/11/2564</td>
                <td class="space-table">2 วัน 3 ชั่วโมง</td>
                <td class="space-table">2021</td>
            </tr>

            <tr align="center">
              <td class="space-table">3</td>
              <td class="space-table">ลาพักร้อน</td>
              <td class="space-table">19/10/2564</td>
              <td class="space-table">03/12/2564 - 05/12/2564</td>
              <td class="space-table">2 วัน 4 ชั่วโมง</td>
              <td class="space-table">2021</td>
          </tr>
          </tbody>
      </table>
  </div>
  </div>
</div>
