<app-notification-loading *ngIf="!ApiSuccess" class="d-flex
    justify-content-center h-100 align-items-center"></app-notification-loading>
<div *ngIf="ApiSuccess">
    <h1 class="row mt-5 d-flex justify-content-center" *ngIf="objDataNoti == null" style="font-family: 'Kanit';">
        ไม่พบการแจ้งเตือน
    </h1>
    <div *ngIf="objDataNoti != null" class="row d-flex justify-content-end
        mt-2 mb-2">
        <div class="col-2 clean-history d-flex justify-content-center"
            (click)="clearNoti()">ล้างประวัติการแจ้งเตือน</div>
    </div>
    <div class="noti-box mb-4" *ngFor="let item of objDataNoti">
        <div class="row mb-1">
            <div class="col-6 d-flex justify-content-left type-text">การลา</div>
            <div class="col-6 d-flex justify-content-end time-text">{{item.amount_time}}</div>
        </div>
        <div class="row noti-rectangle">
            <div class="col-1 my-auto" style="max-width:65px;">
                <img class="image" src="{{baseURL}}{{item.ud_picture}}">
            </div>
            <div class="col my-auto">

                <div class="row">
                    <div class="content-text">จาก </div>
                    <div class="content-text-bold">{{item.ud_fullname_th}}</div>
                    <div class="content-text">ตำเเหน่ง :</div>
                    <div class="content-text-bold">{{item.ud_position}}</div>
                </div>
                <div class="row">
                    <div class="content-text">ประเภทการลา :</div>
                    <div class="content-text-bold">{{item.rvac_type}}</div>

                    <div class="content-text">วันที่ยื่นลา : </div>
                    <div class="content-text-bold">{{item.rvac_created_at}}</div>
                    <div class="content-text">รวมวันลา :</div>
                    <div class="content-text-bold">{{item.rvac_amount}}</div>
                    <div class="content-text">วันที่ลา :</div>
                    <div class="content-text-bold">{{item.rvac_date}}</div>

                    <div class="col d-flex justify-content-end">
                        <div class="text-end more"
                            (click)="NavigateToLeave(item.rvac_id)">ดูเพิ่มเติม</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>