<form [formGroup]="password" (ngSubmit)="Submit()">
  <div class="container p-0">

    <div class=" font-header mb-5">
      เปลี่ยนรหัสผ่าน
    </div>
    <div class="row mb-4 d-flex justify-content-center">

      <div class="col-12 col-sm-8 col-md-8 col-lg-8">

        <div class="row">

          <!-- old password input -->
          <div class="row password-input w-75 py-0 mx-auto input-margin"
            [ngClass]="{isinvalid : password.controls.old_password.errors && summitted}">
            <div class="col-1 px-0 d-flex justify-content-center">
              <img class="py-3" alt="Alternative text" src="assets/img/login/password-icon.png">
            </div>
            <div class="col-10 px-0">
              <input type="password" placeholder="รหัสผ่านเก่า" id="oldPassword" formControlName="old_password"
                (keypress)="checkSpace($event)" class="form-control-lg h-100 p-0 w-100" formControlName="old_password">
            </div>
            <div class="col-1 px-0 d-flex justify-content-center">
              <img (click)="togglePassword('oldPassword', 'toggle-oldPassword')" class="py-3" id="toggle-oldPassword"
                style="cursor:pointer ;" alt="Alternative text" src="assets/img/login/eye-solid.png">
            </div>
          </div>
          <!-- old password input -->

          <!-- alert old password -->
          <div class="row w-75 py-0 mx-auto mt-2" *ngIf="password.controls.old_password.errors && summitted">
            <div class="alert mx-auto p-0" id="alert">กรุณากรอกรหัสผ่านเดิม</div>
          </div>
          <!-- alert old password end -->

          <!-- new password input -->
          <div class="row password-input w-75 py-0 mx-auto input-margin"
            [ngClass]="{isinvalid : (password.controls.new_password.errors || checkInvalid || checkDuplicate) && summitted}">
            <div class="col-1 px-0 d-flex justify-content-center">
              <img class="py-3" alt="Alternative text" src="assets/img/login/password-icon.png">
            </div>
            <div class="col-10 px-0">
              <input type="password" placeholder="รหัสผ่านใหม่" id="newPassword" formControlName="new_password"
                (keypress)="checkSpace($event)" (keydown)="clearAlert()" class="form-control-lg h-100 p-0 w-100">
            </div>
            <div class="col-1 px-0 d-flex justify-content-center">
              <img (click)="togglePassword('newPassword', 'toggle-newPassword')" class="py-3" id="toggle-newPassword"
                style="cursor:pointer ;" alt="Alternative text" src="assets/img/login/eye-solid.png">
            </div>
          </div>
          <!-- new password input end -->

          <!-- alert new password -->
          <div class="row w-75 py-0 mx-auto mt-2"
            *ngIf="(password.controls.new_password.errors || checkInvalid) && summitted">
            <div class="alert mx-auto p-0" id="alert">*กำหนดตัวอักษร 8-20 ตัวอักษร โดยต้องมีตัวพิมพ์ใหญ่
              ตัวพิมพ์เล็กและตัวเลข</div>
          </div>
          <div class="row w-75 py-0 mx-auto mt-2" *ngIf="checkDuplicate && summitted">
            <div class="alert mx-auto p-0" id="alert">รหัสผ่านใหม่ต้องไม่ซ้ำกับรหัสผ่านเดิม</div>
          </div>
          <!-- alert new password end -->

          <!-- confirm new password input -->
          <div class="row password-input w-75 py-0 mx-auto input-margin"
            [ngClass]="{isinvalid : (password.controls.confirm_password.errors || checkNewPass) && summitted}">
            <div class="col-1 px-0 d-flex justify-content-center">
              <img class="py-3" alt="Alternative text" src="assets/img/login/password-icon.png">
            </div>
            <div class="col-10 px-0">
              <input type="password" placeholder="ยืนยันรหัสผ่าน" id="confirmPassword"
                formControlName="confirm_password" (keypress)="checkSpace($event)" (keydown)="clearAlert()"
                class="form-control-lg h-100 p-0 w-100">
            </div>
            <div class="col-1 px-0 d-flex justify-content-center">
              <img (click)="togglePassword('confirmPassword', 'toggle-confirmPassword')" class="py-3"
                style="cursor:pointer ;" id="toggle-confirmPassword" alt="Alternative text"
                src="assets/img/login/eye-solid.png">
            </div>
          </div>
          <!-- confirm new password input end -->

          <!-- alert confirm new password -->
          <div class="row w-75 py-0 mx-auto mt-2" *ngIf="checkNewPass && summitted">
            <div class="alert mx-auto p-0" id="alert">รหัสผ่านไม่ตรงกัน กรุณาตรวจสอบรหัสผ่านอีกครั้ง</div>
          </div>
          <div class="row w-75 py-0 mx-auto mt-2" *ngIf="password.controls.confirm_password.errors && summitted">
            <div class="alert mx-auto p-0" id="alert">กรุณายืนยันรหัสผ่านใหม่</div>
          </div>
          <!-- alert confirm new password end -->

        </div>

      </div>
    </div>
  </div>

  <div class="row mb-4 mt-5 d-flex justify-content-center">
    <div class="col-6 col-sm-3 col-md-3 col-lg-3"><button class="cancel-button d-flex justify-content-center w-100"
        type="" routerLink="../">
        <div class="cancel-text">ยกเลิก</div>
      </button>
    </div>
    <div class="col-6 col-sm-3 col-md-3 col-lg-3"><button class="submit-button d-flex justify-content-center w-100"
        type="submit">
        <div class="submit-text">ตกลง</div>
      </button>
    </div>
  </div>

</form>