.font-header {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #000000;
}

.main-content {
  background: #FFFFFF;
  border: 1px solid #D1D1D6;
  box-shadow: 0px 4px 16px rgba(138, 159, 171, 0.35);
  border-radius: 24px;
}


.input-margin {
  margin-top: 20px;
}

.password-input {
  background: transparent;
  border: 1px solid #005FBC;
  border-radius: 10px;
  position: relative;
}

input::placeholder {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #AEAEB2;
}

input {
  font-family: 'Kanit';
  font-style: normal;
  font-size: 18px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.cancel-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  background: #FFFFFF;
  border: 1px solid #005FBC;
  border-radius: 8px;
}

.cancel-text {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #005FBC;
}

.submit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  background: linear-gradient(270.74deg, #2E3579 0.35%, #005FBC 99.1%, #005FBC 99.1%);
  border-radius: 8px;
  border: 1px solid #005FBC;
}

.submit-text {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;

}

.alert {
  text-align: left;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #E50000;
  padding-left: 5px;
  padding-top: 5px;
  margin: 0px;
  padding-bottom: 5px;
  display: block;
}

.modal-title {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #2F2F2F;
}

.isinvalid {
  border: 1px solid #EF0303 !important;
}
