.font-header {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #000000;
}
.input-margin{
    margin-bottom: 40px;
}

.password-input {
    background: transparent;
    border: 1px solid #005FBC;
    border-radius: 10px;
    position: relative;
}

input::placeholder {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #AEAEB2;
}

input {
    font-family: 'Kanit';
    font-style: normal;
    font-size: 18px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}