
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex flex-row align-items-center">
            <button
                class="back-button d-flex justify-content-center"
                (click)="backClicked()">
                <i class="fa-solid fa-angle-left back-icon"></i>
            </button>
            <div class="font-header mx-2">
                ประวัติการทำโอทีทั้งหมด
            </div>

            <div class="col-2 mx-4 d-flex align-items-center border-input">
                <div class="container">
                    <div class="row">
                        <input type="text" placeholder="เลือกเดือนและปี"
                            class="col-9 w-75 dateIcon icon-bg"
                            style="height: 40px;"
                            #dp="bsDaterangepicker"
                            bsDaterangepicker
                            (keypress)="false"
                            (onHidden)="sortDate()" [(ngModel)]="date"
                            [bsConfig]="{ isAnimated: true,
                            rangeInputFormat : 'DD/MM/YYYY',
                            dateInputFormat:
                            'DD/MM/YYYY', containerClass:
                            'theme-dark-blue',
                            showWeekNumbers: false,
                            clearPosition: 'right'}"/>

                        <div class="col-3 d-flex align-items-center
                            justify-content-center px-0" (click)="dp.toggle()"
                            [attr.aria-expanded]="dp.isOpen" style="cursor:
                            pointer;">
                            <i class="fa-solid fa-calendar-days icon-color"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h1 class="row mt-5 d-flex justify-content-center"
        *ngIf="objTableHistory.length == 0" style="font-family: 'Kanit';">
        ไม่พบประวัติการทำโอที
    </h1>

    <div class="row" *ngIf="!(objTableHistory.length == 0)">
        <div class="col">
            <div class="row">
                <div class="table-responsive" style="overflow-x: scroll">
                    <table
                        class="table table-striped align-middle text-center mt-3
                        list-table"
                        id="tableemp"
                        style="min-width: 1140px">
                        <thead>
                            <tr>
                                <th class="text-center cut-text"
                                    style="max-width: 10% !important;">ลำดับ</th>
                                <th class="text-center cut-text"
                                    style="max-width: 10% !important;">วันที่ทำงาน</th>
                                <th class="text-center cut-text"
                                    style="max-width: 20% !important;">เวลาเข้าทำงาน</th>
                                <th class="text-center cut-text"
                                    style="max-width: 20% !important;">ประเภทคำร้อง</th>
                                <th class="text-center cut-text"
                                    style="max-width: 10% !important;">สถานะ</th>
                                <th class="cut-text" style="width: 20%
                                    !important;">เหตุผล</th>
                                <th class="cut-text" style="max-width: 10%
                                    !important;">การดำเนินการ</th>
                            </tr>
                        </thead>

                        <tbody class="list-content">
                            <tr id="row-list" *ngFor="let objleave of
                                objTableHistory | paginate : config ">
                                <td>
                                    {{objleave}}
                                </td>
                                <td>
                                    {{objleave}}
                                </td>
                                <td>
                                    {{objleave}}
                                </td>
                                <td>
                                    {{objleave}}
                                </td>
                                <td>
                                    <!-- <div class="mt-1 status-cancel text-center"
                                        *ngIf="objleave.rta_approve_status ==
                                        2">
                                        {{objleave.rta_status_name}}
                                    </div>
                                    <div class="mt-1 status-disapproved
                                        text-center"
                                        *ngIf="objleave.rta_approve_status ==
                                        0">
                                        {{objleave.rta_status_name}}
                                    </div>
                                    <div class="mt-1 status-accept text-center"
                                        *ngIf="objleave.rta_approve_status ==
                                        1">
                                        {{objleave.rta_status_name}}
                                    </div>
                                    <div class="mt-1 status-pending text-center"
                                        *ngIf="objleave.rta_approve_status ==
                                        null">
                                        {{objleave.rta_status_name}}
                                    </div> -->
                                    {{objleave}}
                                </td>
                                <td class="cut-text" style="width: 30px
                                    !important;">
                                    {{objleave}}
                                </td>

                                <!-- routerLink="../view-request-detail/{{objleave.rta_id}}" -->
                                <td>
                                    <div class="row ">
                                        <div class="dropdown">
                                            <button type="button " class="btn
                                                btn-primary btn-dropdown"
                                                id="dropdownMenuButton1"
                                                routerLink="../view-request/{{objleave}}">
                                                <div class="col icon-dropdown
                                                    d-flex
                                                    justify-content-center">
                                                    <i class="fa-solid
                                                        fa-list-ul
                                                        icon-dropdown"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="row mt-5">

                    <div class="col d-flex flex-row">
                        <div class="list-perPage d-flex align-items-center
                            listperpage-font">รายการต่อหน้า</div>
                        <div class="my-auto ms-1 select-perPage">
                            <ng-select style="width: 60px"
                                [(ngModel)]="listPerPage"
                                [clearable]="false"
                                class="custom maxWidth add-boss"
                                (change)="UpdateListPerpage()" required>
                                <ng-option [value]="3">3</ng-option>
                                <ng-option [value]="5">5</ng-option>
                                <ng-option [value]="10">10</ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col d-flex justify-content-end">
                        <pagination-template #p="paginationApi" id="{{ config.id
                            }}"
                            (pageChange)="config.currentPage= $event">
                            <div class="custom-pagination d-flex flex-row
                                justify-content-end">
                                <button [disabled]="p.isFirstPage()"
                                    style="width:
                                    38px" class="buttonPage text-end d-flex
                                    align-items-center
                                    justify-content-center nextPage me-3"
                                    [class.disabled]="p.isFirstPage()"
                                    (click)="p.previous()">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>
                                <div *ngFor="let page of p.pages"
                                    [class.current]="p.getCurrent() ===
                                    page.value">
                                    <div id="PageButton" class="buttonPage
                                        text-end
                                        d-flex
                                        align-items-center
                                        justify-content-center
                                        nextPage me-1"
                                        (click)="p.setCurrent(page.value)"
                                        *ngIf="p.getCurrent() !== page.value">
                                        <span>{{ page.label }}</span>
                                    </div>
                                    <div class="on-page text-end d-flex
                                        align-items-center
                                        justify-content-center
                                        onPage
                                        me-1" *ngIf="p.getCurrent() ===
                                        page.value">
                                        <span>{{ page.label }}</span>
                                    </div>
                                </div>

                                <button style="width: 38px" class="buttonPage
                                    text-end d-flex align-items-center
                                    justify-content-center nextPage ms-3 me-3"
                                    [disabled]="p.isLastPage()"
                                    (click)="p.next()">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </div>
                        </pagination-template>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
