<div class="noti-box mb-4">

  <div class="row mb-1">
    <div class="col-6 d-flex justify-content-left type-text">การลา</div>
    <div class="col-6 d-flex justify-content-end time-text">1 ชั่วโมงที่ผ่านมา</div>
  </div>
  <div class="row noti-rectangle">
    <div class="col-1 my-auto" style="max-width:65px;">
      <div class="image"></div>
    </div>
    <div class="col my-auto">
      <div class="row">
        <div class="content-text">จาก </div>
        <div class="content-text-bold">นางสาวขวัญชนก สาลี</div>
        <div class="content-text">ตำเเหน่ง :</div>
        <div class="content-text-bold">Graphic Designer</div>
      </div>
      <div class="row">
        <div class="content-text">ประเภทการลา :</div>
        <div class="content-text-bold">ลากิจ</div>

        <div class="content-text">วันที่ยื่นลา : </div>
        <div class="content-text-bold">20/10/2564</div>

        <div class="content-text">รวมวันลา :</div>
        <div class="content-text-bold">8 ชั่วโมง</div>

        <div class="content-text">วันที่ลา :</div>
        <div class="content-text-bold">21/10/2564</div>

        <div class="col d-flex justify-content-end">
          <div class="text-end more">ดูเพิ่มเติม</div>
        </div>

      </div>
    </div>

  </div>

</div>