<!-- <app-loading *ngIf="checkState"></app-loading> -->
<div class="container-fluid" >
    <div class="row">
        <div class="col font-header d-flex align-items-center">อัตราค่าล่วงเวลาการทำงาน</div>
        <div class="col d-flex justify-content-end">
            <button class="mx-2 btn-history d-flex align-items-center justify-content-center" routerLink="history">
                <i class="fa-solid fa-image-portrait mx-2" style="font-size: 24px !important;"></i>
                <div>ประวัติการทำโอที</div> 
            </button>
            <button *ngIf="role" class="mx-2 btn-list-request d-flex align-items-center justify-content-center" routerLink="list-request">
                <i class="fa-solid fa-clock-rotate-left mx-2" style="font-size: 24px !important;"></i>
                <div>คำขอโอที</div> 
            </button>
            <button class="mx-2 btn-request d-flex align-items-center justify-content-center" routerLink="request">
                <i class="fa-solid fa-circle-plus mx-2" style="font-size: 26px;"></i>
                <div>สร้างฟอร์มการทำโอที</div> 
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col"> 
            <table class="table-responsive align-middle table table-striped mt-3 " style="min-width: 1140px">
                <thead class="ps-5 list-table">
                    <tr>
                        <th class="cut-text text-center ">สัปดาห์การทำงาน</th>
                        <th class="cut-text text-center w-25">เงื่อนไข</th>
                        <th class="cut-text text-center ">อัตราค่าทำงาน/ค่าล่วงเวลา</th>
                    </tr>
                </thead>
                <tbody class="list-content">
                    <tr>
                        <td>
                            วันจันทร์ - วันศุกร์
                        </td>
                        <td>
                            นับตั้งแต่ชั่วโมงที่ 9
                        </td>
                        <td class="text-center">
                            1.5 เท่า
                        </td>
                    </tr>
                    <tr>
                        <td>
                            วันเสาร์ - วันอาทิตย์ และวันหยุดนักขัตฤกษ์
                        </td>
                        <td>
                            นับตั้งแต่ชั่วโมงที่ 1 - 8
                        </td>
                        <td class="text-center">
                            1 เท่า
                        </td>
                    </tr>
                    <tr>
                        <td>
                            วันเสาร์ - วันอาทิตย์ และวันหยุดนักขัตฤกษ์
                        </td>
                        <td>
                            นับตั้งแต่ชั่วโมงที่ 9
                        </td>
                        <td class="text-center">
                            3 เท่า
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="font-detail">หมายเหตุ: หากทำงานในวันหยุด และวันหยุดนักขัตฤกษ์ จะได้ค่าจ้างที่อัตรา 1 เท่า</div>

</div>