<div class="container justify-content-center">
  <form [formGroup]="leaveDays">
    <div class="row">
      <div class="col-12 justify-content-center">
        <div class="row d-flex justify-content-center">
          <div class="col-12 justify-content-center">
            <p class="font-header">แก้ไขวันลา</p>  
        </div>

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลากิจ 
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.leave.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน"
                  class="form-control text-center" 
                  (keypress)="inputNumberOnly($event)"
                  formControlName="leave"
                  rows="3"
                  >
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.leave.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
        <!-- ลากิจ -->

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลาป่วย
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.sick.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน"
                  class="form-control text-center" 
                  (keypress)="inputNumberOnly($event)"
                  formControlName="sick"
                  rows="3"
                  >
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.sick.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
        <!-- ลาป่วย -->

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลาพักร้อน อายุงาน 1 ปี
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.takeAnnual1.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน"
                  class="form-control text-center"
                  (keypress)="inputNumberOnly($event)" 
                  formControlName="takeAnnual1"
                  rows="3"
                  >
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.takeAnnual1.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
        <!-- ลาพักร้อน อายุงาน 1 ปี -->

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลาพักร้อน อายุงาน 2 ปี
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.takeAnnual2.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน"
                  class="form-control text-center"
                  (keypress)="inputNumberOnly($event)" 
                  formControlName="takeAnnual2"
                  rows="3"
                  >
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.takeAnnual2.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
        <!-- ลาพักร้อน อายุงาน 2 ปี -->

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลาพักร้อน อายุงาน 3 ปี
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.takeAnnual3.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน"
                  class="form-control text-center" 
                  (keypress)="inputNumberOnly($event)"
                  formControlName="takeAnnual3"
                  rows="3"
                  >
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.takeAnnual3.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
        <!-- ลาพักร้อน อายุงาน 3 ปี -->

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลาพักร้อน อายุงาน 4 ปี
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.takeAnnual4.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน" 
                  class="form-control text-center" 
                  (keypress)="inputNumberOnly($event)"
                  formControlName="takeAnnual4"
                  rows="3">
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.takeAnnual4.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
        <!-- ลาพักร้อน อายุงาน 4 ปี -->

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลาบวช
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.ordination.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน"
                  class="form-control text-center" 
                  (keypress)="inputNumberOnly($event)"
                  formControlName="ordination"
                  rows="3"
                  >
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.ordination.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
        <!-- ลาบวช -->

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลาคลอด
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.maternity.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน"
                  class="form-control text-center" 
                  (keypress)="inputNumberOnly($event)"
                  formControlName="maternity"
                  rows="3"
                  >
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.maternity.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
        <!-- ลาคลอด -->

        <div class="col-7 justify-content-center">
          <br />
        <div class="row justify-content-center">
          <div class="col-4 d-inline-flex p-2" id="font-content">
            ลาเพื่อรับราชการทหาร
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12" id="font-content">
                <input 
                  [ngClass]="{
                  isinvalid:  leaveDays.controls.militaryService.errors && summited
                    }" 
                  type="text"
                  placeholder="กรอกจำนวนวัน"
                  class="form-control text-center" 
                  (keypress)="inputNumberOnly($event)"
                  formControlName="militaryService"
                  rows="3"
                  >
              </div>
            </div>
          </div>
          <div class="col-2" id="font-content">
            วัน
          </div>
        </div>
        <div class="row">
          <div
              class="col-5 d-flex
              justify-content-left"></div>
          <div class="col-4 space-data">
              <div
                  *ngIf="leaveDays.controls.militaryService.errors
                  && summited" class="alerttext">
                  กรุณากรอกข้อมูล
              </div>
          </div>
      </div>
      </div>
      
        <!-- ลาเพื่อรับราชการทหาร -->

        </div>
      </div>
      <div class="row mb-4 mt-5 d-flex justify-content-center">
        <div class="col-6 col-sm-3 col-md-3 col-lg-3"><button (click)="checkCancel()"
                class="cancel-button d-flex justify-content-center w-100" type="" href="#Modal-cancel">
                <div class="cancel-text">ยกเลิก</div>
            </button>
        </div>
        <div  class="col-6 col-sm-3 col-md-3 col-lg-3"><button (click)="checkSummit()"
                class="submit-button d-flex justify-content-center w-100" type="submit" href="#Modal-submit">
                <div  class="submit-text">ตกลง</div>
            </button>
        </div>
    </div>
    </div>
</form>
</div>
