<div class="container justify-content-center">
  <form [formGroup]="leaveDays">
    <div class="row">
      <div class="col-12 justify-content-center">
        <div class="row d-flex justify-content-center">
          <div class="col-12 justify-content-center">
            <p class="font-header">แก้ไขวันลา</p>
          </div>

          <div class="table-responsive">
            <table class="table-responsive table table-striped mt-3">

              <!--table header-->
              <thead class="ps-5 list-table">
                <tr scope="row">
                  <th [width]="650" scope="col" style="text-align: center">ประเภทการลา</th>
                  <th [width]="650" scope="col" style="text-align: center">สิทธิการลา (วัน)</th>
                </tr>
              </thead>
              <!---->

              <tbody class="list-content">
                <!--row ลากิจ-->
                <tr>
                  <td>
                    ลากิจ
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{
                      isinvalid:  leaveDays.controls.leave.errors && summited
                        }" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="leave" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาป่วย-->
                <tr>
                  <td>
                    ลาป่วย
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{
                  isinvalid:  leaveDays.controls.sick.errors && summited
                    }" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="sick" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาบวช-->
                <tr>
                  <td>
                    ลาบวช
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{
                  isinvalid:  leaveDays.controls.ordination.errors && summited
                    }" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="ordination" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาคลอด-->
                <tr>
                  <td>
                    ลาคลอด
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.maternity.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="maternity" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาเพื่อรับราชการทหาร-->
                <tr>
                  <td>
                    ลาเพื่อรับราชการทหาร
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{
                  isinvalid:  leaveDays.controls.militaryService.errors && summited
                    }" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="militaryService" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 0 - 12 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 0 - 12 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual0_12.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual0_12" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 13 - 15 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 13 - 15 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual13_15.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual13_15" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 16 - 18 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 16 - 18 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual16_18.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual16_18" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 19 - 21 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 19 - 21 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual19_21.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual19_21" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 22 - 24 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 22 - 24 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual22_24.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual22_24" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 25 - 27 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 25 - 27 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual25_27.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual25_27" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 28 - 30 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 28 - 30 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual28_30.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual28_30" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 31 - 33 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 31 - 33 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual31_33.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual31_33" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 34 - 36 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 34 - 36 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual34_36.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual34_36" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 37 - 39 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 37 - 39 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual37_39.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual37_39" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 40 - 42 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 40 - 42 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual40_42.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual40_42" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 43 - 45 เดือน-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 43 - 45 เดือน
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual43_45.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual43_45" rows="3">
                    </div>
                  </td>
                </tr>

                <!--row ลาพักร้อน อายุงาน 46 เดือนขึ้นไป-->
                <tr>
                  <td>
                    ลาพักร้อน อายุงาน 46 เดือนขึ้นไป
                  </td>

                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center w-25">
                      <input [ngClass]="{isinvalid:  leaveDays.controls.v_take_annual46.errors && summited}" type="text" placeholder="กรอกจำนวนวัน" class="form-control text-center"
                        (keypress)="inputNumberOnly($event)" formControlName="v_take_annual46" rows="3">
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="row mb-4 mt-5 d-flex justify-content-center">
        <div class="col-6 col-sm-3 col-md-3 col-lg-3"><button (click)="checkCancel()"
            class="cancel-button d-flex justify-content-center w-100" type="">
            <div class="cancel-text">ยกเลิก</div>
          </button>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3"><button (click)="checkSummit()"
            class="submit-button d-flex justify-content-center w-100" type="submit">
            <div class="submit-text">ตกลง</div>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>