<div class="container-fluid h-100">
  <div class="row">
    <div class="col-12 border border-warning" style="height: 100px;">1</div>
   <hr class="mt-3">
    <div class="row">
      <div class="col text-center border border-success" routerLink="detail">ข้อมูล</div>
      <div class="col text-center border border-success" routerLink="work-history">เข้างาน</div>
      <div class="col text-center border border-success" routerLink="leave-history">ลางาน</div>
      <div class="col text-center border border-success" routerLink="ot-history">โอที</div>
    </div>
  </div>
  <hr>
  <router-outlet></router-outlet>
</div>


<!-- 
<h1>
  data-person works!
</h1>

<h4 routerLink="work-history">
  works!
</h4>

<h4 routerLink="ot-history">
  ot!
</h4>

<h4 routerLink="leave-history">
  leave!
</h4>

<h4 routerLink="detail">
  detail!
</h4>

<router-outlet></router-outlet> -->
