<div class="noti-box mb-4">

  <div class="row mb-1">
    <div class="col-6 d-flex justify-content-left type-text">การเข้างาน</div>
    <div class="col-6 d-flex justify-content-end time-text">1 ชั่วโมงที่ผ่านมา</div>
  </div>
  <div class="row noti-rectangle">
    <div class="col-1 my-auto" style="max-width:65px;">
      <div class="image"></div>
    </div>
    <div class="col my-auto">
      <div class="row">
        <div class="content-text">จาก </div>
        <div class="content-text-bold">นางสาวปวีณา รัตนพิรมย์</div>
        <div class="content-text">ตำเเหน่ง :</div>
        <div class="content-text-bold">เจ้าหน้าที่ฝ่ายบุคคล</div>
      </div>
      <div class="row">
        <div class="content-text">ประเภทคำร้อง :</div>
        <div class="content-text-bold">Work from home</div>

        <div class="content-text">วันที่ทำงาน : </div>
        <div class="content-text-bold">20/10/2564</div>

        <div class="content-text">เวลาเข้าทำงาน :</div>
        <div class="content-text-bold">10 โมง 00 นาที</div>

        <div class="content-text">เหตุผล :</div>
        <div class="content-text-bold">ลืมกดปุ่มเข้า-ออกงาน</div>

        <div class="col d-flex justify-content-end">
          <div class="text-end more">ดูเพิ่มเติม</div>
        </div>

      </div>
    </div>

  </div>

</div>