<button class="back-button d-flex justify-content-center" routerLink="../">
  <i class="fa-solid fa-angle-left back-icon"></i>
</button>
<div class="container p-0">
  <div class=" font-header mb-5">
    เพิ่มข้อมูลพนักงาน
  </div>

  <!-- profile image -->
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div style="position: relative;">
        <img class="profile-img d-flex justify-content-center" src="assets\img\Atsawin.jpg" alt="not found" />
        <button class="upload-img">
          <i class="fa-solid fa-camera upload-icon"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- profile image end -->

  <!-- รหัสบัตรประชาชน -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      รหัสบัตรประชาชน*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="text" placeholder="กรอกรหัสบัตรประชาชน"
            class="form-control w-75 maxWidth" id="intTextBox">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณากรอกรหัสบัตรประชาชน
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- รหัสบัตรประชาชน end -->


  <!-- คำนำหน้าชื่อ -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      คำนำหน้าชื่อ*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <ng-select [searchable]="false" placeholder="เลือกคำนำหน้าชื่อ" [clearable]="false" class="custom w-75">
            <ng-option>ชาย</ng-option>
            <ng-option>หญิง</ng-option>
          </ng-select>
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณาเลือกคำนำหน้าชื่อ
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- คำนำหน้าชื่อ end -->

  <!-- ชื่อ-นามสกุล (TH)* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      ชื่อ-นามสกุล (TH)*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="text" placeholder="กรอกชื่อ-นามสกุลภาษาไทย"
            class="form-control w-75 maxWidth" id="">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณากรอกชื่อ-นามสกุลภาษาไทย
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ชื่อ-นามสกุล (TH)* end -->

  <!-- ชื่อ-นามสกุล (EN)* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      ชื่อ-นามสกุล (EN)*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="text" placeholder="กรอกชื่อ-นามสกุลภาษาอังกฤษ"
            class="form-control w-75 maxWidth" id="">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณากรอกชื่อ-นามสกุลภาษาอังกฤษ
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ชื่อ-นามสกุล (EN)* end -->

  <!-- ชื่อเล่น* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      ชื่อเล่น*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="text" placeholder="กรอกชื่อเล่น" class="form-control w-75 maxWidth"
            id="">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณากรอกชื่อเล่น
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ชื่อเล่น* end -->

  <!-- วันเดือนปีเกิด* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      วันเดือนปีเกิด*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">

        <div class="col-10">
          <input type="text" placeholder="เลือกวันเดือนปีเกิด" class="form-control w-75" bsDatepicker [maxDate]="today"
            (keypress)="false"
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', showWeekNumbers: false}">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณาเลือกวันเดือนปีเกิด
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- วันเดือนปีเกิด* end -->

  <!-- เบอร์โทรศัพท์* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      เบอร์โทรศัพท์*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="text" placeholder="กรอกเบอร์โทรศัพท์" class="form-control w-75 maxWidth"
            id="">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณากรอกเบอร์โทรศัพท์
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- เบอร์โทรศัพท์* end -->

  <!-- อีเมล -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      อีเมล
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="email" placeholder="กรอกอีเมล" class="form-control w-75 maxWidth" id="">
        </div>

      </div>
    </div>
  </div>
  <!-- อีเมล end -->

  <!-- บริษัท* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      บริษัท*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="text" placeholder="กรอกบริษัท" class="form-control w-75 maxWidth" id="">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณากรอกบริษัท
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- บริษัท* end -->

  <!-- แผนก* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      แผนก*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <ng-select [searchable]="false" placeholder="เลือกแผนก" [clearable]="false" class="custom w-75">
            <ng-option>Executive</ng-option>
            <ng-option>Developer</ng-option>
            <ng-option>Designer</ng-option>
          </ng-select>
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณาเลือกแผนก
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- แผนก* end -->

  <!-- ตำแหน่ง -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      ตำแหน่ง
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <ng-select [searchable]="true" placeholder="เลือกตำแหน่ง" [clearable]="false" class="custom w-75">
            <ng-option>Chief executive officer</ng-option>
            <ng-option>Chief technology officer</ng-option>
            <ng-option>UX/UI Designer</ng-option>
            <ng-option>Graphic Designer</ng-option>
            <ng-option>Front-End Developer</ng-option>
            <ng-option>Back-End Developer</ng-option>
          </ng-select>
        </div>

        <div *ngIf="" class="col-2 py-2">
          <i class="fa-solid fa-circle-xmark delete-dept iconDept"></i>
        </div>

      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="sub-text col-4 d-flex justify-content-left" id="">
    </div>
    <div class="col-8 d-flex justify-content-left">
      <a>
        <div class="text-button">
          <i class="fa-solid fa-circle-plus" style="margin-right: 5px;"></i>เพิ่มตำแหน่ง
        </div>
      </a>
    </div>
  </div>
  <!-- ตำแหน่ง end -->

  <!-- ประเภทพนักงาน* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      ประเภทพนักงาน*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <ng-select [searchable]="false" placeholder="เลือกประเภทพนักงาน" [clearable]="false" class="custom w-75">
            <ng-option>ประจำ</ng-option>
            <ng-option>สัญญาจ้าง</ng-option>
          </ng-select>
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณาเลือกประเภทพนักงาน
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ประเภทพนักงาน* end -->

  <!-- รหัสพนักงาน* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      รหัสพนักงาน*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="text" placeholder="กรอกรหัสพนักงาน" class="form-control w-75 maxWidth"
            id="">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณากรอกรหัสพนักงาน
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- รหัสพนักงาน* end -->

  <!-- วันที่เริ่มงาน* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      วันที่เริ่มงาน*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">

        <div class="col-10">
          <input type="text" placeholder="เลือกวันที่เริ่มงาน" class="form-control w-75" bsDatepicker [maxDate]="today"
            (keypress)="false"
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', showWeekNumbers: false}">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณาเลือกวันที่เริ่มงาน
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- วันที่เริ่มงาน* end -->

  <!-- ชื่อผู้ใช้ระบบ* -->
  <div class="row mb-4 mt-5">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      ชื่อผู้ใช้ระบบ*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">

        <div class="col-10">
          <input type="text" class="form-control w-75 maxWidth" id="" disabled>
        </div>

      </div>
    </div>
  </div>
  <!-- ชื่อผู้ใช้ระบบ* end -->

  <!-- รหัสผ่าน* -->
  <div class="row mb-4">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
      รหัสผ่าน*
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <input [ngClass]="{ }" ng-cloak type="text" placeholder="กรอกรหัสผ่านพนักงาน*"
            class="form-control w-75 maxWidth" id="">
        </div>

        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-7 col-5 d-flex justify-content-left"></div>
          <div class="col-sm-5 col-5">
            <div *ngIf="" class="alerttext">
              กรุณากรอกรหัสผ่านพนักงาน*
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- รหัสผ่าน* end -->

  <!-- ปุ่มสุ่มรหัสผ่าน* -->
  <div class="row">
    <div
      class="sub-text col-12 col-sm-4 col-md-4 col-lg-4 text-center text-xs d-flex justify-content-end align-items-center">
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 input-xs">
      <div class="row font-content d-flex justify-content-center">
        <div class="col-10">
          <div class="d-flex justify-content-left">
            <button class="random-button random-text d-flex justify-content-center">
              สุ่มรหัสผ่าน
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- ปุ่มสุ่มรหัสผ่าน* end -->

</div>