<app-employee-overbutton></app-employee-overbutton>
<app-loading-employee *ngIf="false" class="d-flex justify-content-center h-100 align-items-center">
</app-loading-employee>
<h1>ผ่านมาก็นานแล้ว จบไปก็นานแล้วที่เธอไม่อยู่ 
    และฉันเองก็รู้ เมื่อวานได้พ้นผ่าน ผ่านและพ้นไป
    ยังคงใช้ชีวิตบอกตัวเองซ้ำ ๆ ว่าไม่เป็นไร 
    ฉันสบายดี ฉันไม่เป็นไร 
    
    และมันก็คงมีบางวันที่คิดย้อนไป 
    ขุดเรื่องเดิม ๆ ขึ้นมาซ้ำ ๆ 
    ใจที่เคยว่าแข็งแรงพอกลับเสียน้ำตาอีกครั้ง
    
    ธรรมดาที่ฉันร้องไห้เวลาฉันเสียใจ 
    ธรรมดาเมื่อเสียใจแล้วน้ำตามันไหล 
    ธรรมดาเมื่อรักใครแล้วตัวเขามาทิ้งไป 
    น้ำตามันจะไหลออกมาเพื่อปลอบโยนหัวใจ
    ธรรมดาที่รักมากไปแล้วมันต้องผิดหวัง 
    ฉันก็คงไม่ฝืนที่จะดึงหรือว่าฉุดรั้ง 
    อาจจะมีวันเหงาใจ อยู่คนเดียวในบางครั้ง 
    ก็มีน้ำตาออกมาปลอบโยนเป็นเพื่อนกัน 
    มันเป็นเรื่องธรรมดา
    
    คงไม่ใช่แค่ฉันที่ต้องเคยผิดหวัง แต่ก็ไม่ตาย 
    เจ็บมันก็คงหาย กลายเป็นแค่ความหลัง ที่ไม่ต้องจำ
    แต่กว่าที่ใจจะฟื้นกำลังจนหายดีอีกครั้ง
    ยังต้องสู้กับใจตัวเองซ้ำ ๆ 
    ยอมรับว่าวันนี้ฉันยังไม่แข็งแรงพอ 
    และฉันต้องเสียน้ำตาอีกครั้ง
    
    ธรรมดาที่ฉันร้องไห้เวลาฉันเสียใจ 
    ธรรมดาที่เสียใจแล้วน้ำตามันไหล 
    ธรรมดาเมื่อรักใครแล้วตัวเขามาทิ้งไป 
    น้ำตามันจะไหลออกมาเพื่อปลอบโยนหัวใจ
    ธรรมดาที่รักมากไปแล้วมันต้องผิดหวัง 
    ฉันก็คงไม่ฝืนที่จะดึงหรือว่าฉุดรั้ง 
    อาจจะมีวันเหงาใจ อยู่คนเดียวในบางครั้ง 
    ก็มีน้ำตาออกมาปลอบโยนเป็นเพื่อนกัน 
    มันเป็นเรื่องธรรมดา
    
    เมื่อเราเสียใจ ธรรมดา
    เมื่อเรารักใคร ธรรมดา
    ไม่เป็นไร ธรรมดา
    
    ธรรมดาที่ฉันร้องไห้เวลาฉันเสียใจ 
    ธรรมดาที่เสียใจแล้วน้ำตามันไหล 
    ธรรมดาเมื่อรักใครแล้วตัวเขามาทิ้งไป 
    น้ำตามันจะไหลออกมาเพื่อปลอบโยนหัวใจ
    ธรรมดาที่รักมากไปแล้วมันต้องผิดหวัง 
    ฉันก็คงไม่ฝืนที่จะดึงหรือว่าฉุดรั้ง 
    อาจจะมีวันเหงาใจ อยู่คนเดียวในบางครั้ง 
    ก็มีน้ำตาออกมาปลอบโยนเป็นเพื่อนกัน 
    มันเป็นเรื่องธรรมดา
    </h1>