.div-center {
  justify-content: center;
  text-align: center;
}

.img-profile {
  border-radius: 50%;
}

.fontStyle {
  font-family: 'Kanit';
  font-style: normal;
  font-size: 16px;
}

.fontgraph{
  font-family: 'Kanit';
  font-size: 16px;
  color: #000000;
}

.profileBG {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px -16px rgba(138, 159, 171, 0.35);
  border-radius: 20px;
  padding: 32px;
}

.cycle {
  background-color: #005FBC;
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}

.fontIcon {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #005FBC;
}

.fontOT {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

}

.leavefont {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

}

.graphfont {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}

.cancel-button {
  padding: 12px 16px;
  width: 203px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #005FBC;
  border-radius: 8px;
  color: #005FBC;
}

.submit-button {
  padding: 12px 16px;
  width: 203px;
  height: 48px;
  background: linear-gradient(270.74deg, #2E3579 0.35%, #005FBC 99.1%, #005FBC 99.1%);
  border-radius: 8px;
  border: none;
  color: #ffffff;
}

.editprofile {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-decoration-line: underline;
  color: #FF5444;
}

.changPass {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FF5444;
}

.fontprofileMan {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: #000000;
}

.fontcontract {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #005FBC;

}
