<div class="container-fluid h-100" *ngIf="ApiSuccess">
  <div class="row d-flex justify-content-between">
    <div class="col-8 h-100 ">

      <div class="row profileBG">
        <div class="col-12 px-0">
          <div class="row">
            <div class="row d-flex justify-content-between mt-3">
              <div class="col-2 d-flex justify-content-center fontIcon"><i
                  class="fa-solid fa-image-portrait me-2 my-auto" style="font-size: 25px; color: #005FBC;"></i>โปรไฟล์
              </div>
              <div class="col-2 d-flex justify-content-center editprofile">
                <p style="cursor: pointer;">แก้ไขข้อมูล</p>
              </div>
            </div>
            <div class="col-4 d-flex justify-content-end px-0">
              <!-- `${environment.apiURL}/employee/showProfile` -->
              <img class="img-profile ms-auto d-block d-flex justify-content-end  img-thumbnail"
                src="{{baseURL}}{{ObjdataUser.ud_picture}}" />
              <!-- <img class="m-3 logo-element img-profile img-fluid img-thumbnail"
                src="{{baseURL}}/files/image/Atsawin.jpg" style="width: 150px; height: auto;" /> -->
            </div>
            <div class="col-8 d-flex align-items-center px-5 ">
              <div class="d-flex flex-column fontStyle" style="width: 100% !important;">
                <div class="row d-flex mb-4 ">
                  <div class="col ps-4 fontprofileMan">ชื่อ: {{ObjdataUser.ud_prefix_name}}
                    {{ObjdataUser.ud_firstname_th}} <p class="d-flex align-items-center ms-3 my-0 fontcontract">
                      ({{ObjdataUser.user_contract_name}})</p>
                  </div>
                  <!-- <div class="col-5 px-0 d-flex align-items-center fontcontract">({{ObjdataUser.user_contract_name}})</div> -->
                </div>
                <div class="row mb-4 ps-4 fontprofileMan">นามสกุล: {{ObjdataUser.ud_lastname_th}}</div>
                <div class="row ps-4 fontprofileMan">เบอร์โทรศัพท์: {{ObjdataUser.ud_phone}} </div>
              </div>
            </div>
          </div>

          <div class="row px-0 fontStyle m-4 ">
            <div class="col-5" style="padding-left: 140px;" id="Dataperson">
              <div class="mb-2"><strong>แผนก</strong> :</div>
              <div class="mb-2"><strong>ตำแหน่ง</strong> :</div>
              <div class="mb-2"><strong>บริษัท</strong> :</div>
              <div class="mb-2"><strong>วันที่เริ่มทำงาน</strong> :</div>
              <div class="mb-2"><strong>อายุงาน</strong> :</div>

              <div class="mt-4 changPass">
                <p style="cursor: pointer;" routerLink="resetpass"><i class="fa-solid fa-lock me-2"></i>เปลี่ยนรหัสผ่าน
                </p>
              </div>

            </div>
            <div class="col">
              <div class="mb-2">{{ObjdataUser.dept_name_en}}</div>
              <div class="mb-2">{{ObjdataUser.user_position}}</div>
              <div class="mb-2">{{ObjdataUser.user_company}}</div>
              <div class="mb-2">{{ObjdataUser.user_start_date}}</div>
              <div class="mb-2">{{ObjdataUser.user_exprience}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row profileBG">
        <div class="col-12 mb-4">
          <div class="div-test fontIcon"><i class="fa-solid fa-calendar-minus me-2 "
              style="font-size: 20px; color: #005FBC;"></i>วันลาคงเหลือ</div>
        </div>
        <div class="row leavefont ">
          <div class="col ">
            <div class="row mb-2 ">
              <div class="col ps-5 ms-5" id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:#FD9229"></i> ลากิจ</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_leave_day}}</div>
            </div>
            <div class="row mb-2 ">
              <div class="col ps-5 ms-5" id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:#63C8CE"></i> ลาป่วย</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_sick_day}}</div>
            </div>
            <div class="row mb-2 ">
              <div class="col ps-5 ms-5" id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:#C83039"></i> ลาพักร้อน</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_take_annual_day}}</div>
            </div>
            <div class="row mb-2 " *ngIf="ObjdataUser.ud_gender_id == 1">
              <div class="col ps-5 ms-5 " id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:#13466A"></i> ลาบวช</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_ordination_day}}</div>
            </div>
            <!-- <div class="row mb-2 d-flex justify-content-end">ลาป่วย {{ObjdataUser.user_sick_day}}</div>
            <div class="row mb-2 d-flex justify-content-end">ลาพักร้อน {{ObjdataUser.user_take_annual_day}}</div>
            <div class="row mb-2 d-flex justify-content-end">ลาบวช {{ObjdataUser.user_ordination_day}}</div> -->
          </div>
          <div class="col">
            <div class="row mb-2 " *ngIf="ObjdataUser.ud_gender_id == 1">
              <div class="col ps-5 ms-5" id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:#8CC34D"></i> ลาเพื่อรับราชการทหาร</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_military_service_day}}</div>
            </div>
            <div class="row mb-2" *ngIf="!(ObjdataUser.ud_gender_id == 1)">
              <div class="col ps-5 ms-5" id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:#8CC34D"></i> ลาคลอด</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_maternity_day}}</div>
            </div>
            <div class="row mb-2 ">
              <div class="col ps-5 ms-5" id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:white"></i> ลาเพื่อทำหมัน</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_sterilization_day}}</div>
            </div>
            <div class="row mb-2 ">
              <div class="col ps-5 ms-5" id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:white"></i> ลาโดยไม่รับเงิน</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_without_pay_day}}</div>
            </div>
            <div class="row mb-2 ">
              <div class="col ps-5 ms-5" id="leaveDay">
                <p><i class="fa-solid fa-circle" style="font-size: 16px; color:white"></i> ลาใช้สิทธิทดแทน</p>
              </div>
              <div class="col-2 d-flex justify-content-center">{{ObjdataUser.user_resign_day}}</div>
            </div>
          </div>
        </div>

        <div class="row d-flex justify-content-center graphfont">กราฟแสดงวันลาคงเหลือ</div>
        <div>
          <div>
            <div style="display: block">
              <canvas *ngIf="ObjdataUser.ud_prefix_id == 1" id="mychart" baseChart [data]="ChartData"
                [type]="ChartType"></canvas>
              <canvas *ngIf="ObjdataUser.ud_prefix_id == 2 || ObjdataUser.ud_prefix_id == 3" id="mychart" baseChart
                [data]="ChartData2" [type]="ChartType2"></canvas>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-4 p-0 h-100 ">
      <div class="profileBG ms-auto" style="width: 90%;">
        <div class="div-test fontIcon mb-4 "><i class="fa-regular fa-clock me-2 my-auto"></i>การทำโอที
        </div>
        <div class="row px-3 mb-2">
          <div class="col fontOT">ชื่องาน OT
          </div>
          <div class="col-3">
            <div class="OtfontApproved text-end" style="color: #239411; font-size: 20px;">อนุมัติ</div>
          </div>
        </div>
        <div class="row px-3 mb-2">
          <div class="col fontOT">ชื่องาน OT
          </div>
          <div class="col-3">
            <div class="OtfontApproved text-end" style="color: #EF0303; font-size: 20px;">ไม่อนุมัติ</div>
          </div>
        </div>
      </div>

      <div *ngIf="roleHR"> </div>
      <div class="profileBG ms-auto" style="width: 90%;">
        <app-chart-ot class="text-center "></app-chart-ot>
      </div>

      <div class="profileBG ms-auto" style="width: 90%;">
        <app-chart-leave class="text-center "></app-chart-leave>
      </div>


    </div>
  </div>
</div>
