<div class="container-fluid h-100" *ngIf="ApiSuccess">
  <div class="row d-flex justify-content-between">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 col-xxl-8 h-100">
      <div class="row profileBG">
        <div class="col-12 px-0">
          <div class="row">
            <div class="row d-flex justify-content-between mt-3 mb-4">
              <div class="col-2 d-flex justify-content-center fontIcon">
                <i class="fa-solid fa-image-portrait me-2 my-auto" style="font-size: 25px; color: #005fbc"></i>โปรไฟล์
              </div>
              <div class="col-2 d-flex justify-content-center editprofile">
                <p style="cursor: pointer" (click)="editData()">แก้ไขข้อมูล</p>
              </div>
            </div>
            <div class="col-4 d-flex justify-content-center px-0">
              <img [ngClass]="{positionEdit : whenEdit}"
                class="img-profile mx-auto d-block d-flex justify-content-end img-thumbnail"
                src="{{ baseURL }}{{ ObjdataUser.ud_picture }}" />
              <label *ngIf="whenEdit" for="getFile1" class="file_upload text-center col-0"><i
                  class="fa-solid fa-camera upload-icon upload-icon mt-1"></i></label>
              <input (change)="editPicture($event)" type="file" id="getFile1" class="hide" accept="image/*" />
            </div>
            <div class="col-8 d-flex align-items-center px-5">
              <div class="d-flex flex-column fontStyle" style="width: 100% !important">
                <div class="row d-flex mb-4">
                  <div class="col ps-4 fontprofileMan">
                    ชื่อ: {{ ObjdataUser.ud_prefix_name }}
                    {{ ObjdataUser.ud_firstname_th }}
                    <p class="d-flex align-items-center ms-3 my-0 fontcontract">
                      ({{ ObjdataUser.user_contract_name }})
                    </p>
                  </div>
                </div>
                <div class="row mb-4 ps-4 fontprofileMan">
                  นามสกุล: {{ ObjdataUser.ud_lastname_th }}
                </div>
                <div *ngIf="!whenEdit" class="row ps-4 fontprofileMan">
                  เบอร์โทรศัพท์: {{ ObjdataUser.ud_phone }}
                </div>
                <div *ngIf="whenEdit" class="row ps-4 fontprofileMan">
                  <div class="row"> เบอร์โทรศัพท์:
                    <input [(ngModel)]="phonenumber" (keypress)="iputNumberOnly($event)" maxlength="10" type="text"
                      class="ms-2 col-6 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5 editPhonenumber"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row px-0 fontStyle m-4">
            <div class="col-5" style="padding-left: 140px" id="Dataperson">
              <div class="mb-2"><strong>แผนก</strong> :</div>
              <div class="mb-2"><strong>ตำแหน่ง</strong> :</div>
              <div class="mb-2"><strong>บริษัท</strong> :</div>
              <div class="mb-2"><strong>วันที่เริ่มทำงาน</strong> :</div>
              <div class="mb-2"><strong>อายุงาน</strong> :</div>

              <div class="mt-4 changPass">
                <p style="cursor: pointer" routerLink="resetpass">
                  <i class="fa-solid fa-lock me-2"></i>เปลี่ยนรหัสผ่าน
                </p>
              </div>
            </div>
            <div class="col">
              <div class="mb-2">{{ ObjdataUser.dept_name_en }}</div>
              <div class="mb-2">{{ ObjdataUser.user_position }}</div>
              <div class="mb-2">{{ ObjdataUser.user_company }}</div>
              <div class="mb-2">{{ ObjdataUser.user_start_date }}</div>
              <div class="mb-2">{{ ObjdataUser.user_exprience }}</div>
            </div>
          </div>
        </div>
        <div *ngIf="whenEdit" class="row d-flex justify-content-center" style="height: 40px;">
          <button class="col-1 btn-cancel me-2" (click)="editModalCancel()">ยกเลิก</button>
          <button class="col-1 btn-submit" (click)="editProfile()">บันทึก</button>
        </div>
      </div>
      <div class="row profileBG">
        <div class="div-test fontIcon">
          <i class="fa-solid fa-calendar-minus me-2 mb-5" style="font-size: 20px; color: #005fbc"></i>วันลาคงเหลือ
        </div>

        <app-chartPersonal></app-chartPersonal>

      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 col-xxl-4 p-0 h-100">

      <div class="container ms-3">
        <div class="row">
          <div class="profileBG ">
            <div class="div-test fontIcon mb-4">
              <i class="fa-regular fa-clock me-2 my-auto"></i>การทำโอที
            </div>
            <div class="row px-3 mb-2">
              <div class="col fontOT">ชื่องาน OT</div>
              <div class="col-5">
                <div class="OtfontApproved text-end" style="color: #239411; font-size: 20px">
                  อนุมัติ
                </div>
              </div>
            </div>
            <div class="row px-3 mb-2">
              <div class="col fontOT">ชื่องาน OT</div>
              <div class="col-5">
                <div class="OtfontApproved text-end" style="color: #ef0303; font-size: 20px">
                  ไม่อนุมัติ
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row chart-res-row">

          <div *ngIf="roleHR" class="profileBG   col-5 col-sm-5 col-md-5 col-lg-5 col-xl-12 col-xxl-12">
            <app-chart-ot class="text-center chart-res"></app-chart-ot>
          </div>
          <div *ngIf="roleHR" class="profileBG   col-5 col-sm-5 col-md-5 col-lg-5 col-xl-12 col-xxl-12">
            <app-chart-leave class="text-center chart-res"></app-chart-leave>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
