<div class="container-fluid h-100">
  <div class="row">
    <div class="col-8 h-100 border border-success">
      <div class="row ">
        <div class="col-6 border border-warning">
          <div class="div-test">กราฟ1</div>
        </div>
        <div class="col-6 border border-warning">
          <div class="div-test">กราฟ2</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 border border-warning">
          <div class="div-test">โปรไฟล์
            <div class="bg-warning" style="width: 100px; height:100px" routerLink="resetpass">
              reset password
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 border border-warning">
          <div class="div-test">วันลาคงเหลือ</div>
        </div>
      </div>
    </div>



    <div class="col-4 p-0 h-100 border border-primary ">
      <div class="div-test" style="height: 300px;">ประวัติ ot </div>
    </div>
  </div>
</div>
