<app-loading *ngIf="!checkApi"></app-loading>

<div *ngIf="checkApi" class="container-fluid mx-auto p-0 vh-100">
  <div class="row header header-shadow d-flex justify-content-between m-0 p-0">
    <div class="ps-3 pe-0 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 px-auto my-auto align-items-center ">
      <div class="offcanvas offcanvas-start side-bar-canvas text-center pt-5" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel" style="max-width: 90px;">
        <div class="" style="width: 90%;">
          <app-side-bar *ngIf="checkApi" [role]="role" data-bs-dismiss="offcanvas"></app-side-bar>
        </div>
      </div>
      <img src="assets/img/bars-solid-1.svg"
        class="btn-canvas-element my-auto side-bar-hide d-flex justify-content-center align-items-center"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
        style="width: 35px; height: 50%;">
      <img class="m-3 logo-element" src="assets/img/logo.png" style="width: 65px; height: auto;" />
    </div>
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 col-sm-10 col-10 p-0">
      <div class="me-2 h-100 d-flex justify-content-end">
        <div class="col-2 d-flex justify-content-end align-items-center">
          <img class="img-profile ms-auto d-block d-flex justify-content-end " src="assets/img/{{photo}}.jpg"
            style="width: 65px; height: auto" />
        </div>
        <div
          class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-5 col-6 p-0 d-flex justify-content-center align-items-center">
          <div class="text-profile-name ">
            <div class="profile-text"> {{ud_prefix}} {{ ud_fullname_th}}</div>
            <div class="profile-text-position">{{position_th}}</div>
          </div>
        </div>
        <div class="col-1 p-0 d-flex justify-content-end align-items-center">
          <div class="dropdown">
            <img class="btn p-0" src="assets/img/header/angle-down-solid.svg" alt="" type="button"
              data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px; width:100%">
            <ul class="dropdown-menu py-0">
              <div class="p-1 ">
                <li class="dropdown-list py-1">
                  <div class="d-inline d-flex justify-content-between px-4 py-1">
                    <img class="pe-1" src="assets/img/header/bell-solid.svg" alt="" style="height: auto; width:25px">
                    <div class="font-dropdown-menu pe-2">แจ้งเตือน</div>
                  </div>
                </li>
                <li class="dropdown-list py-1 ">
                  <div class="d-inline d-flex justify-content-between px-4 py-1">
                    <img src="assets/img/header/right-from-bracket-solid.svg" alt="" style="height: auto; width:25px">
                    <div class="font-dropdown-menu pe-2" (click)="logout()">ออกระบบ</div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ps-0 mt-4">
    <div class="row main-content-element">

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 p-0 sidebar-element" style="max-width: 110px;">
        <div class="side-bar text-center pt-4 pb-2 pe-2" style="max-width: 110px; min-height: 540px;">

          <app-side-bar *ngIf="checkApi" [role]="role" data-bs-dismiss="offcanvas"></app-side-bar>

        </div>
      </div>
      <div class="col-11 col-xl-11 col-lg-11 ps-4">
        <div class="container-fluid h-100 p-0">
          <div class="main-content h-100 p-5">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
