<div class="row">
  <div class="col-12">
    <div class="font-content">
    ประวัติการทำโอที
    </div>
    <div class="table-responsive">
      <table class="table-responsive table table-striped mt-3">

          <!--table header-->
          <thead class="ps-5 list-table">
              <tr align="center">
                <th scope="col">ลำดับ</th>
                  <th scope="col">วันที่</th>
                  <th scope="col">ระยะเวลาเริ่มต้น-สิ้นสุด</th>
                  <th scope="col">ชื่องาน</th>
                  <th scope="col">รายละเอียดการทำงาน</th>
              </tr>
          </thead>
          <!---->

          <tbody class="list-content">
              <tr align="center">
                  <td class="space-table">1</td>
                  <td class="space-table">25/10/2564</td>
                  <td class="space-table">19.00 น. - 22.00 น.</td>
                  <td class="space-table">CRM - Beyond</td>
                  <td class="space-table">ออกแบบ UI ระบบรายชื่อลูกค้า, ระบบงานต่ออายุ, โปรไฟล์</td>
              </tr>
              
              <tr align="center">
                <td class="space-table">2</td>
                <td class="space-table">25/10/2564</td>
                <td class="space-table">19.00 น. - 22.00 น.</td>
                <td class="space-table">CRM - Beyond</td>
                <td class="space-table">ออกแบบ UI ระบบรายชื่อลูกค้า, ระบบงานต่ออายุ, โปรไฟล์</td>
            </tr>

            <tr align="center">
              <td class="space-table">3</td>
              <td class="space-table">25/10/2564</td>
              <td class="space-table">19.00 น. - 22.00 น.</td>
              <td class="space-table">CRM - Beyond</td>
              <td class="space-table">ออกแบบ UI ระบบรายชื่อลูกค้า, ระบบงานต่ออายุ, โปรไฟล์</td>
          </tr>
          </tbody>
      </table>
  </div>
  </div>
</div>
