<app-loading *ngIf="checkState"></app-loading>
<div class="row" *ngIf="!checkState">
  <div class="col-12">
    <div class="row">
      <div class="col font-content">
        ประวัติการทำโอที
      </div>

      <div class="col-4 mx-2 d-flex align-items-center border-input"
        style="height: 40px; width: 155px;">
        <div class="container px-0">
          <div class="row">
            <input type="text" placeholder="เลือกช่วงวันที่"
              class="col-9 dateIcon icon-bg"
              #dp="bsDaterangepicker"
              bsDaterangepicker (keypress)="false"
              (onHidden)="sortDate()" [(ngModel)]="date"
              (bsValueChange)="sortDate()"
              [bsConfig]="{ isAnimated: true,
              rangeInputFormat : 'DD/MM/YYYY',
              dateInputFormat:
              'DD/MM/YYYY', containerClass:
              'theme-dark-blue',
              showWeekNumbers: false,
              clearPosition: 'right',
              adaptivePosition: true}">

            <div class="col-3 d-flex align-items-center
              justify-content-center px-0" (click)="dp.toggle()"
              [attr.aria-expanded]="dp.isOpen" style="cursor:
              pointer;">
              <i class="fa-solid fa-calendar-days icon-color"
                style="font-size: 24px;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="row mt-5 d-flex justify-content-center"
      *ngIf="objTable.length == 0" style="font-family: 'Kanit';">
      ไม่พบประวัติการทำโอที
    </h1>

    <div *ngIf="!(objTable.length == 0)" class="table-responsive">
      <table class="table-responsive table table-striped mt-3">

        <!--table header-->
        <thead class="ps-5 list-table">
          <tr align="center">
            <th scope="col">ลำดับ</th>
            <th scope="col">วันที่</th>
            <th scope="col">ระยะเวลาเริ่มต้น-สิ้นสุด</th>
            <th scope="col">ชื่องาน</th>
            <th scope="col">รายละเอียดการทำงาน</th>
          </tr>
        </thead>
        <!---->

        <tbody class="list-content">

          <!-- number => ลำดับ
rot_start_time => วันที่
rot_time =>  ระยะเวลาเริ่มต้น-สิ้นสุด
rot_ot_id => ชื่องาน
rot_detail => รายละเอียดการทำงาน -->
   
          <tr align="center" *ngFor="let item of objTable">
            <td class="space-table">{{item.number}}</td>
            <td class="space-table">{{item.rot_start_date}}</td>
            <td class="space-table">{{item.rot_time}}</td>
            <td class="space-table">{{item.rot_ot_id}}</td>
            <td class="space-table">{{item.rot_detail}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
