<div class="noti-box mb-4">

  <div class="row mb-1">
    <div class="col-6 d-flex justify-content-left type-text">การทำโอที</div>
    <div class="col-6 d-flex justify-content-end time-text">1 ชั่วโมงที่ผ่านมา</div>
  </div>
  <div class="row noti-rectangle">
    <div class="col-1 my-auto" style="max-width:65px;">
      <div class="image"></div>
    </div>
    <div class="col my-auto">
      <div class="row">
        <div class="content-text">จาก </div>
        <div class="content-text-bold">นางพีรดา สว่างเสนา</div>
        <div class="content-text">ตำเเหน่ง :</div>
        <div class="content-text-bold">เจ้าหน้าที่ฝ่ายบุคคล</div>
      </div>
      <div class="row">
        <div class="content-text">วันที่ :</div>
        <div class="content-text-bold">25/10/2564</div>

        <div class="content-text">ระยะเวลาเริ่มต้น-สิ้นสุด :</div>
        <div class="content-text-bold">19.00 น. - 22.00 น.</div>

        <div class="content-text">ชื่องาน :</div>
        <div class="content-text-bold">CRM</div>

        <div class="content-text">รายละเอียด :</div>
        <div class="content-text-bold">ออกแบบ UI ระบบรายชื่อ....</div>

        <div class="col d-flex justify-content-end">
          <div class="text-end more">ดูเพิ่มเติม</div>
        </div>

      </div>
    </div>

  </div>

</div>